@use 'src/styles/abstracts' as *;

.HighPlot__container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;

  .Axes {
    .tick text {
      display: none;
    }
    .yAxisLabel {
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .xAxisLabel__container {
      display: flex;
      align-items: center;
      justify-content: center;

      &.left {
        justify-content: flex-start;
      }
      &.right {
        justify-content: flex-end;
      }

      .xAxisLabel {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $text-sm;
      }

      &::before {
        content: '';
        display: inline-block;
        flex-shrink: 0;
        width: 6px;
        height: 6px;
        background-color: #2bc784;
        border-radius: $border-radius-circle;
        margin: 4px 5px 4px 0;
      }

      &__metric {
        &::before {
          background-color: #1473e6;
        }
      }
    }
  }

  &.backgroundRect {
    cursor: crosshair;
  }

  &.zoomMode rect {
    cursor: zoom-in;
  }

  .HoverLine {
    stroke: #94999f; /* var(--grey-light) */
  }

  .ParallelCircle {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 1;
    cursor: pointer;
  }

  /* on click */
  .ParallelCircle.focus {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 2;
    opacity: 1;
  }

  /* on hover */
  .ParallelCircle.active {
    stroke: #7a94cc; /** var(--primary-light); */
    stroke-width: 3;
    opacity: 1;
  }

  .Attributes.highlight > .HoverCircle:not(.active):not(.focus) {
    opacity: 0.5;
  }

  .ChartMouseValue {
    position: absolute;
    box-sizing: border-box;
    padding: 0.375em 0.5em; /*var(--space-xxs) var(--space-xs);*/
    background-color: #f7faff; /*var(--primary-bg);*/
    border: 1px solid #7a94cc; /*var(--primary-light);*/
    color: #243969; /*var(--primary-dark);*/
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
  }

  .ChartMouseValueXAxis {
    transform: translateX(-50%);
    border-radius: 0 0 6px 6px;
    border-top: none;
    overflow: hidden;
  }

  .ChartMouseValueYAxis {
    transform: translateY(-50%);
    border-radius: 6px 0 0 6px;
    border-right: none;
    overflow: hidden;
    box-shadow: inset -8px 0 5px -6px #3b5896; /* var(--primary);*/
  }

  .Lines {
    overflow: hidden;
  }

  .Line {
    stroke-width: 2;
    opacity: 0.3;
  }

  .Lines.highlight > .Line:not(.active):not(.highlighted) {
    stroke-width: 1;
    opacity: 0.2;
  }

  .Line.highlighted {
    opacity: 1;
    stroke-width: 2px;
  }

  .Line.active {
    opacity: 1;
    stroke-width: 3px;
  }
}
