@use 'src/styles/abstracts' as *;

.ReleaseNoteItem {
  display: flex;
  padding-left: 18px;
  margin-bottom: $space-sm;
  position: relative;
  text-decoration: none;
  p {
    word-break: break-word;
  }
  &__tagName {
    color: $primary-color;
    font-weight: 600;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 7px;
    height: 7px;
    z-index: 1;
    border-radius: $border-radius-circle;
    background-color: $primary-color;
  }
  &::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    height: 100%;
    width: 1px;
    background-color: $pico-20;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-color: $text-color;
    cursor: pointer;
  }
}
