@use 'src/styles/abstracts' as *;

.RunDetail {
  &__runDetailContainer {
    height: 100%;
    &__appBarContainer {
      height: 2.5rem;
      padding: 0 1.5rem;
      padding: 0 1.5rem 0 0.9rem;
      background: #ffffff;
      border-right: $border-main;
      border-left: $border-main;
      border-bottom: $border-main;
      display: flex;
      align-items: center;
      &__appBarTitleBox {
        display: flex;
        font-size: $text-md;
        font-weight: 600;
        color: $text-color;
        padding-left: 0.6rem;

        &__buttonSelectToggler {
          width: 1.5rem;
          height: 1.5rem;
          &.opened {
            background: '#E8F1FC';
          }
        }
        &__container {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          &__pageName {
            margin-right: 0.4375em;
            text-transform: capitalize;
            text-decoration: none;
          }
          &__runHash {
            margin-left: 0.4375em;
            text-transform: lowercase;
          }
        }
      }
    }

    &__headerContainer {
      padding: 1em 1.5em;
      height: 3.5rem;
      border-right: $border-main;
      border-left: $border-main;
      border-bottom: $border-grey-lighter;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__infoBox {
        display: flex;
        justify-content: space-between;
        &__dateTitle {
          margin-right: 1rem;
        }
      }
      &__tagsBox {
        display: flex;
        max-width: 50%;
        overflow: auto;
        .TagContainer__tagBox {
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    &__tabsContainer {
      border-right: $border-main;
      border-left: $border-main;
      border-bottom: $border-grey-lighter;
      padding-left: 1.5rem;
      .PrivateTabIndicator-root-1 {
        display: none;
      }
      .MuiTabs-root {
        height: 40px;
        min-height: auto;
      }
      .MuiTabs-flexContainer {
        .MuiTab-textColorPrimary {
          color: $pico-80;
          font-size: $text-md;
          font-weight: 500;
          text-transform: unset;
          min-height: 40px;
          .MuiTab-wrapper {
            line-height: 1.05;
          }
          &.MuiTab-root {
            padding: 11px 16px;
            min-width: auto !important;
            border-right: 1px solid transparent;
          }
          &.Mui-selected {
            color: $pico;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            position: relative;
            // border-right: none;
            &::before {
              content: '';
              width: 100%;
              height: 3px;
              background: $primary-color;
              position: absolute;
              left: 0;
              bottom: 0;
              transition: all 3s;
            }
          }
        }
      }
      .PrivateTabIndicator-root-5 {
        display: none;
      }
      &.MuiPaper-elevation1 {
        box-shadow: none;
      }
      &.MuiPaper-rounded {
        border-radius: unset;
      }
    }
    &__tabPanel {
      border-right: $border-main;
      border-left: $border-main;
      border-bottom: $border-main;
      padding: 0.75rem;
      height: calc(100% - 149px);
      .MuiBox-root {
        height: 100%;
        .runDetailParamsTabLoader {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
    }
  }
}

.RunDetailParamsTab {
  padding: 1.5rem;
  margin: 0.75rem;
  border: $border-grey;
  border-radius: 0.5rem;
  height: 100%;
}

.RunDistributionsTab {
  padding: 0.75rem;
}

.RunDetailMetricsTab {
  height: 100%;
  &__container {
    display: flex;
    flex-wrap: wrap;
    background: $white;
    align-items: stretch;
    height: 100%;
    &__chartContainer {
      border: $border-grey;
      border-radius: 0.5rem;
      margin: 0.75rem;
      width: calc(50% - 24px);
      &__chartBox {
        height: 24.5rem;
        padding: 0.625rem;
        .LineChart__container {
          background-color: transparent;
        }
      }
      &__metricDetailBox {
        border-top: $border-grey;
        padding: 1rem 1.5rem 1.5rem;
        &__metricName {
          margin: $space-xs 0;
        }
        .SelectForm__tags__item {
          margin-top: 0.5rem;
        }
        .Badge {
          margin-right: $space-xxs;
          margin-bottom: $space-xxs;
        }
      }
    }
  }
}

.RunDetailSettingsTab {
  padding: 1.5rem;
  border: $border-grey;
  border-radius: 0.5rem;
  height: 5.25rem;
  margin: 0 10.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__message {
      margin-top: $space-xxxs;
    }
  }
}

.RunSelectPopoverWrapper {
  &__selectPopoverContent {
    height: 20rem;
    width: 37.5rem;
    &__contentContainer {
      height: calc(100% - 2.25rem);
      display: flex;
      &__experimentsListContainer {
        background: $white;
        width: 50%;
        height: 100%;
        position: relative;
        &__experimentList {
          overflow-y: auto;
          height: 100%;
          box-shadow: inset -0.0625rem 0 0 $border-color-main;
          padding: 0.375rem 0 0.5rem 0.5rem;

          &__experimentBox {
            height: 2rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 0.3125rem 0 0 0.3125rem;
            margin-bottom: 0.125rem;
            position: relative;
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              border-radius: $border-radius-sm;
              background: $cuddle-20;
              margin-right: 0.5rem;
            }
            &__experimentName {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.selected {
              background: $cuddle-10;
              border-bottom: $border-main;
              border-top: $border-main;
              &:hover {
                margin-right: 0;
                border-radius: 0.3125rem 0 0 0.3125rem;
              }

              &::before {
                content: '';
                height: 100%;
                border-radius: 0.3125rem 0 0 0.3125rem;
                top: 0;
                left: 0;
                background: $denim;
                width: 0.375rem;
                position: absolute;
              }
            }
          }
        }
      }
      &__runsListContainer {
        background: $cuddle-10;
        height: 100%;
        width: 50%;
        position: relative;
        padding: 0.5rem 0.5rem 0.375rem;
        border-right: $border-main;
        &__runsList {
          overflow: auto;
          height: 100%;
          &__loadMoreButtonWrapper {
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
            &__button {
              background: $cuddle-30;
              .MuiCircularProgress-root.MuiCircularProgress-colorPrimary {
                color: $pico-80;
              }
              &:hover {
                background: $cuddle-30;
              }
            }
          }
          &__runBox {
            height: 2rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: unset;
            margin-bottom: 0.125rem;
            position: relative;

            &.in-progress {
              &::after {
                content: '';
                position: absolute;
                right: 0.3125rem;
                width: 0.375rem;
                height: 0.375rem;
                top: 0.6875rem;
                border-radius: $border-radius-circle;
                background: $success-color-100;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              border-radius: $border-radius-sm;
              background: $cuddle-20;
            }
          }
        }
      }
    }

    &__headerContainer {
      background: #f3f8fe;
      width: 100%;
      height: 2.25rem;
      display: flex;
      border-bottom: $border-main;
      i {
        transform: rotate(90deg);
        align-items: center;
        display: flex;
      }
      &__titleContainer {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__loaderContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MuiPaper-root {
    width: 37.5rem;
    background: $white;
    border: $border-main;
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.375rem rgba(144, 175, 218, 0.2);
    border-radius: 0.3125rem 0.3125rem 0 0;
    height: 20rem;
  }
}
