@use 'src/styles/abstracts' as *;

.ResizePanel {
  cursor: row-resize;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 0.375rem;
  background-color: $primary-color-10;
  transition: all 0.15s ease-out;
  transition-delay: 0.3s;
  i {
    transition: all 0.15s ease-out;
    transition-delay: 0.3s;
  }
  &:hover,
  &.resizing {
    background-color: $primary-color-50;
  }
  &__fullHeight {
    background-color: $cuddle-10;
    border-top: $border-main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__hidden {
    display: none;
  }
}
