@use 'src/styles/abstracts' as *;

.AlignmentPopover__container {
  width: 16.5rem;
  padding: 0.5625rem;
  &__densityOptions {
    border-bottom: 1px solid $border-color-main;
  }
  &__options {
    padding-bottom: 0.5rem;
    &__title {
      padding: 0.5rem;
      text-transform: uppercase;
    }
  }
  &__selectContainer {
    display: flex;
    flex-direction: column;
    span {
      margin-right: 1rem;
    }
    &__select {
      margin: 0 0.5rem;
    }
  }
}
