.AlignmentPopover__container {
    width: 16.5rem;
}
.AlignmentPopover__title {
    padding: 0.5rem;
}

.AlignmentPopover__types {
    padding: 0.5rem;
}

.AlignmentPopover__select {
    border-top: 1px solid #E8F1FC;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    span {
        margin-right: 1rem;
    }
}

