@use 'src/styles/abstracts' as *;

.AlignmentPopover {
  width: 16.5rem;
  padding: $space-xs;

  &__subtitle {
    padding: $space-xs;
    text-transform: uppercase;
  }

  &__Divider {
    margin: $space-xs 0;
  }

  &__selectContainer {
    display: flex;
    flex-direction: column;
    &__selectBox {
      padding: 0 $space-xs;
    }
    span {
      margin-right: $space-unit;
    }
    &__select {
      margin: 0 $space-xs;
    }
  }
}
