@use 'src/styles/abstracts' as *;

.Table__header__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  span {
    font-style: normal;
    font-weight: 500;
    font-size: $text-mm;
    line-height: 17px;
    color: #09003f;
    margin-left: 0.625rem;
  }
}
