@use 'src/styles/abstracts' as *;

.FacetGrouping {
  margin-right: $space-xxxs;
  &__label {
    margin-top: toRem(1px);
  }
  &.active {
    background-color: $primary-color-10;
  }
  &__arrow {
    margin-left: $space-xxs;
    transition: transform $popover-opening-duration ease-out;
    color: $pico-80;
    &.opened {
      transform: rotateX(180deg);
      color: $primary-color;
    }
  }
  &.active {
    background-color: $primary-color-10;
  }
  &.outlined {
    background-color: $primary-color-10;
    border: $border-main-active;
  }
  &:hover {
    background-color: $pico-5;
  }
}
