@use 'src/styles/abstracts' as *;

.QuickLinks {
  padding: $space-lg $space-sm $space-unit;
  &__title {
    margin-bottom: $space-xs;
    padding: 0 $space-sm;
  }
  &__list {
    margin-top: $space-md $space-lg;
    &__ListItem {
      &__Text {
        flex: 1;
      }
    }
  }
}
