@use 'src/styles/abstracts' as *;

.SelectedFields {
  &__container {
    padding: $space-xs $space-unit;
    display: flex;
    flex-direction: column;
    max-height: inherit;
    &__value {
      margin-top: $space-xxxs;
      word-break: break-word;
    }
  }
}
