@use 'src/styles/abstracts' as *;

.ExploreAimCard__container {
  width: 15.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.0625rem solid #e8f1fc;
  transition: background-color 0.3s ease-out;
  padding: 1.5rem 1.5rem 0.875rem 1.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: $pico;

  &:hover {
    background-color: #1473e6;
    color: #ffffff;
    .ExploreAimCard__icon {
      color: #1473e6;
      background-color: #ffffff;
    }
  }
}

.ExploreAimCard__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  background: #1473e6;
  color: #ffffff;
  margin-bottom: 0.875rem;
  transition: all .3s ease-out;
  i {
    font-size: 1.5rem;
  }
}

.ExploreAimCard__title {
  font-weight: 600;
  font-size: $text-md;
  line-height: 1.0625rem;
  margin: 0;
}

.ExploreAimCard__desc {
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.ExploreAim_card__arrowIcon__container {
  display: flex;
  justify-content: flex-end;

  i {
    color: #ffffff;
    font-size: 1.75rem;
  }
}
