/* --------------------------------
|  Colors
-------------------------------- */

/* BLUE(primary): CTA, navigation */
/* Extra: darkest blue */
@blue-bg: #f7faff;
@blue-lighter: #dfe6f7;
@blue-light: #7a94cc;
@blue: #3b5896;
@blue-dark: #243969;
@blue-darker: #142447;
@blue-darkest: #0f1b33;

/* GREEN(positive): creation, success */
/* Extra: N/A */
@green-bg: #f5faf6;
@green-lighter: #ddf0df;
@green-light: #6fd97c;
@green: #28a745;
@green-dark: #1d9033;
@green-darker: #0c7721;

/* RED(negative): removal, error */
/* Extra: N/A */
@red-bg: #fcf2f3;
@red-lighter: #f2cecf;
@red-light: #e37e81;
@red: #b2393d;
@red-dark: #8d282b;
@red-darker: #791317;

/* GREY: secondary, neutral */
/* Extra: bg light, light-x, light-xx */
/* Note: Some colors(light, light-x, light-xx) are shifted for more compatibility */
@grey-bg-light: #fcfcfc;
@grey-bg: #f7f7f7;
@grey-lighter: #e8e8e8;
@grey-light-xx: #d4d4d4;
@grey-light-x: #bbbbbb;
@grey-light: #94999f;
@grey: #586069;
@grey-dark: #484f56;
@grey-darker: #24292e;

/* Other colors */
@color-purple: #8e44ad;
@color-orange: #e67e22;
@color-magenta: #b33771;
@color-yellow: #bdc581;
@color-tangerine: #fd7272;
@color-green: #16a085;
@color-blue: #2980b9;
@white: #fff;
@black: #000;

:root {
  /* Primary */
  --primary-bg: @blue-bg;
  --primary-lighter: @blue-lighter;
  --primary-light: @blue-light;
  --primary: @blue;
  --primary-dark: @blue-dark;
  --primary-darker: @blue-darker;
  --primary-darkest: @blue-darkest;

  /* Positive */
  --positive-bg: @green-bg;
  --positive-lighter: @green-lighter;
  --positive-light: @green-light;
  --positive: @green;
  --positive-dark: @green-dark;
  --positive-darker: @green-darker;
  /* Green */
  --green-bg: @green-bg;
  --green-lighter: @green-lighter;
  --green-light: @green-light;
  --green: @green;
  --green-dark: @green-dark;
  --green-darker: @green-darker;

  /* Negative */
  --negative-bg: @red-bg;
  --negative-lighter: @red-lighter;
  --negative-light: @red-light;
  --negative: @red;
  --negative-dark: @red-dark;
  --negative-darker: @red-darker;
  /* Red */
  --red-bg: @red-bg;
  --red-lighter: @red-lighter;
  --red-light: @red-light;
  --red: @red;
  --red-dark: @red-dark;
  --red-darker: @red-darker;

  /* Grey */
  --grey-bg-light: @grey-bg-light;
  --grey-bg: @grey-bg;
  --grey-lighter: @grey-lighter;
  --grey-light-xx: @grey-light-xx;
  --grey-light-x: @grey-light-x;
  --grey-light: @grey-light;
  --grey: @grey;
  --grey-dark: @grey-dark;
  --grey-darker: @grey-darker;

  /* Other colors */
  --color-purple: @color-purple;
  --color-orange: @color-orange;
  --color-magenta: @color-magenta;
  --color-yellow: @color-yellow;
  --color-tangerine: @color-tangerine;
  --color-green: @color-green;
  --color-blue: @color-blue;

  --white: @white;
  --black: @black;
}
