@use 'src/styles/abstracts' as *;

.ChartPanel__container {
  height: 100%;
  width: 100%;
  display: flex;
  .ChartPanel {
    overflow: hidden;
    height: 100%;
    border-right: $border-separator;
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
    &__grid {
      display: flex;
      height: 100%;
      overflow: auto;
      margin: 0;
      width: 100%;
      flex-wrap: wrap;
    }
    &__controls {
      width: 3.75rem;
      max-height: 100%;
      overflow-y: auto;
    }
  }
}
