@use 'src/styles/abstracts' as *;

.ChartPanel__container {
  height: 100%;
  .ChartPanel {
    overflow: hidden;
    height: 100%;
    border-right: $border-separator;
    &__resizing {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $primary-color-5;
      user-select: none;
    }
    &__paper {
      padding: 1em;
      height: 100%;
      user-select: none;
    }
    &__paper__grid {
      height: 100%;
      overflow: auto;
      margin: 0;
      &__chartBox {
        min-height: 50%;
        padding: 4px;
        box-shadow: -1px -1px 0 0 #e8e8e8; // var(--grey-lighter);
      }
    }
    &__controls {
      width: 3.75rem;
      max-height: 100%;
      overflow-y: auto;
    }
  }
}
