@use 'src/styles/abstracts' as *;

.Runs_Search_Bar {
  display: flex;
  border-bottom: $border-separator;
  padding: 1rem 1.5rem;
  align-items: center;

  form {
    width: 100%;
  }
  .ExpressionAutoComplete {
    max-width: calc(100vw - 260px);
  }
}
