@use 'src/styles/abstracts' as *;

.Runs_Search_Bar {
  display: flex;
  border-bottom: $border-main;
  padding: 1rem 1.5rem;
  align-items: center;
  input {
    font-family: monospace;
  }
  form {
    width: 100%;
  }
  &__Button {
    // width: 100px;
    // height: 2rem !important;
  }
}
