.Runs_Search_Bar {
  display: flex;
  border-bottom: 1px solid #e8f1fc;
  padding: 16px 24px;
  align-items: center;
  input {
    font-family: monospace;
  }
}

.Runs_Search_Bar__Button {
  width: 100px;
  height: 32px !important;
}
