@use 'src/styles/abstracts' as *;

.AppBar__container {
  display: flex;
  align-items: center;
  min-height: 2.3rem;
  border-bottom: $border-main;
  border-left: $border-main;
  border-right: $border-main;
  padding-left: 1.5rem;
}

.AppBar__title {
  flex: 1;
  color: $pico-100;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.AppBar__content {
  display: flex;
  align-items: center;
}
