@use 'src/styles/abstracts' as *;

.AppBar {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  max-height: 2.5rem;
  border-bottom: $border-main;
  border-left: $border-main;
  border-right: $border-main;
  padding-left: 1.5rem;
  background: $white;
  z-index: 1;
  &__title {
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }

  &__content {
    display: flex;
    align-items: center;
    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
