@use 'styles/abstracts/index' as *;

.MetricsBar {
  &__item__bookmark {
    margin-right: $space-xxxs;
    padding: 0 $space-xs !important;
    &__Text {
      margin-right: 0.625rem;
    }

    &__Icon {
      color: $text-color;
    }
  }
  &__menu {
    border-left: 0.0625rem solid #e8f1fc;
    padding: 0 0.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
  &__popover {
    width: 15.625rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
