@use 'src/styles/abstracts' as *;

.CaptionBox {
  padding: $space-xs $space-unit;
  width: 100%;
  box-shadow: 0 0 0 0.0625rem $pico-30;
  overflow: auto;
  max-height: calc(100% / 100 * 30);
  &__item {
    word-break: break-word;
  }
  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(248, 250, 253, 0) 0%,
      $cuddle-10 75.52%
    );
    height: 0.5rem;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
