@use 'src/styles/abstracts' as *;

.CaptionBox {
  padding: $space-xs $space-unit;
  width: calc(100% - 1px);
  border-top: 1px solid $pico-10;
  overflow: auto;
  max-height: 30%;
  background-color: $cuddle-10;
  margin-bottom: 1px;
}
