@use 'src/styles/abstracts' as *;

.CodeCompletion {
  position: absolute;
  width: 21.875rem;
  border: $border-main;
  border-radius: $radius-main;
  background-color: #fff;
  z-index: 9999;
  &__SuggestionItem {
    padding: 0 $space-xxs;
    display: block;
    color: $pico-60;
    min-height: 1.5rem;
    cursor: pointer;
    &:focus-visible {
      background-color: #dceafb;
      outline: unset;
    }
    &:last-child {
      border-bottom: unset;
    }
  }
}
