@use 'src/styles/abstracts' as *;

.BoxPropsPopover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  padding: $space-xs;
  max-height: 20rem;
  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 $space-xs;
  }
  &__item {
    margin-top: $space-xs;
  }
  &__sizeSlider {
    margin-top: $space-unit;
    display: flex;
    flex-direction: column;
    &--disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
  &__subtitle {
    text-transform: uppercase;
  }
  &__SliderWrapper {
    margin: $space-xs 0;
    display: flex;
    justify-content: space-between;
    .Slider {
      margin: 0 $space-md;
      width: 16rem;
    }
  }
  &__Divider {
    width: 100%;
    margin-bottom: $space-xs;
    &:last-of-type {
      margin: $space-xs 0;
    }
  }
  &__sizePercent {
    margin-left: $space-xs;
  }
}
