@use 'src/styles/abstracts' as *;

.ImagesExploreRangePanel {
  display: flex;
  align-items: center;
  height: 2.75rem;
  width: 100%;
  justify-content: center;
  background: $white;
  border-top: $border-main;
  border-bottom: $border-main;
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 85rem;
    padding: 0 2.125rem;

    &__searchButtonContainer {
      padding-left: 2.75rem;
      border-left: $border-main;
      margin-left: 2.75rem;
      height: 100%;
      display: flex;
      align-items: center;
      &__searchButton {
        height: 1.5rem !important;
        width: 5.125rem;
      }
    }
    &__sliderContainerSeparator {
      width: 0.0625rem;
      height: 1.5rem;
      background: $primary-color-10;
      margin-right: 2.75rem;
      margin-left: 2.75rem;
    }
  }
}
