@use 'src/styles/abstracts' as *;

.ImagesExploreRangePanel {
  display: flex;
  align-items: center;
  height: 2.25rem;
  width: 100%;
  justify-content: center;
  background: $white;
  border-top: $border-main;
  &__searchButton {
    height: 1.45rem !important;
  }
  &__sliderContainer {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 1.75rem;
    &__densityField {
      width: 4rem;
      height: 1.25rem;
      border: 0.0625rem solid $cuddle-70;
      border-radius: $border-radius-xss;
      font-size: 0.625rem;
      font-weight: 600;
      color: $pico-80;
      padding-left: 0.375rem;
      &:focus-visible {
        outline: unset;
      }
    }
    &__title {
      margin-right: 0.75rem;
    }
    &__sliderBox {
      width: 18rem;
      display: flex;
      align-items: center;
      margin-right: 1.25rem;
      height: 100%;
      .MuiSlider-root {
        padding: 0;
        height: 0.25rem;
        margin-top: 0.125rem;
        .MuiSlider-rail {
          height: 0.25rem;
          border-radius: $border-radius-sm;
          opacity: 1;
          background: $cuddle-50;
        }
        .MuiSlider-track {
          height: 0.25rem;
          border-radius: $border-radius-sm;
          background: $primary-color;
        }
        .MuiSlider-thumb {
          background: $white;
          border: 0.09375rem solid $primary-color;
          margin-top: -0.25rem;
          .MuiSlider-valueLabel {
            left: calc(-50% - 0.625rem);
            top: -1.0625rem;
            &.PrivateValueLabel-offset-15 {
              .PrivateValueLabel-circle-16 {
                width: 2.3125rem;
                height: 1.1875rem;
                border: 0.0625rem solid $primary-color;
                background: $white;
                border-radius: 0.4375rem;
                transform: unset;
                .PrivateValueLabel-label-17 {
                  font-size: 0.625rem;
                  font-weight: 600;
                  color: $primary-color;
                  transform: unset;
                }
              }
            }
          }
          &.Mui-focusVisible {
            box-shadow: 0 0 0 0.125rem rgba(20, 115, 230, 0.2);
          }
          &:hover {
            box-shadow: 0 0 0 0.125rem rgba(20, 115, 230, 0.2);
          }
          &.MuiSlider-active {
            box-shadow: 0 0 0 0.125rem rgba(20, 115, 230, 0.2);
          }
        }
      }
    }
    &__sliderValuesLabel {
      width: 4.875rem;
      margin-right: 0.5rem;
    }
    &__densityFieldLabel {
      margin-right: 0.5rem;
    }
  }
}
