@use 'src/styles/abstracts' as *;

.SelectForm__tags__item {
  height: 28px;
  border-radius: 0.375rem;
  margin-right: 8px;
  padding: 0 1rem;
  font-style: normal;
  font-weight: 500;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text-sm;
    width: unset;
    height: unset;
    margin: 0;
    padding-left: 1rem;
  }

  span {
    font-size: $text-md;
  }
}
