@use 'src/styles/abstracts' as *;

$bookmark-height: 24px;
.DashboardBookmarks {
  padding: $space-sm;
  border-top: $border-dark-lighter;

  &__title {
    padding: 0 $space-sm;
    margin-bottom: $space-xs;
  }
  &__list {
    max-height: 5 * $bookmark-height;
    overflow: auto;
    &__ListItem {
      &__Text {
        flex: 1;
        margin-left: $space-xs;
        text-transform: capitalize;
      }
    }
  }
  &__NavLink {
    margin-top: $space-unit;
    text-decoration: none;
    display: block;
    padding: 0 $space-sm;
  }
}
