@use 'src/styles/abstracts' as *;

.SetupGuide {
  &__container {
    max-width: 800px;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    flex: 1 100%;
    h3 {
      font-size: 1.125rem;
      margin: 0 0 0.5rem;
      font-family: 'Inter SemiBold', sans-serif;
      color: $pico;
    }

    h2 {
      margin: 0;
    }
  }
  &__code {
    margin-top: 2rem;
    max-width: 44.5rem;
  }
  &__resources {
    &__container {
      margin-top: 2.75rem;
      display: flex;
    }
    &__item {
      margin-right: 2.375em;
      text-decoration: none;

      span {
        display: inline-block;
        margin-top: 0.5rem;
        font-style: normal;
        font-weight: 500;
        font-size: $text-md;
        line-height: 17px;
        color: #031123;
      }
      &:last-child {
        margin-right: 0;
      }
      &__icon {
        margin: 0 auto;
        width: 2.75rem;
        height: 2.75rem;
        border: 0.125rem solid $primary-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-out;
        cursor: pointer;
        i {
          font-size: 1.5rem;
          color: $primary-color;
          transition: all 0.3s ease-out;
        }
        &:hover {
          color: #ffffff;
          background-color: #1473e6;
          i {
            color: #ffffff;
          }
        }
      }
    }
  }
}
