@use "src/styles/abstracts" as *;

.ImagesSet {
  padding: 10px 20px;
  display: table;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid $border-color-main;

  &__container {
    display: flex;
    flex-direction: column;
    img {
      width: 100px;
      height: 100px;
    }
    &__title {
      padding-bottom: 0.625rem;
      font-size: $text-sm;
    }
    &__imagesBox {
      display: flex;
      &__imageBox {
        width: 100px;
        height: 100px;
        margin-right: 0.625rem;
        margin-bottom: 0.625rem;
      }
    }
  }
}
