@use "src/styles/abstracts" as *;

.ImagesSet {
  width: 100%;
  background-color: #ffffff;

  &__connectorLine {
    position: absolute;
    top: -0.375rem;
    height: 100%;
    width: 1px;
    background: $cuddle-70;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__title {
      padding-bottom: 0.125rem;
      font-size: $text-sm;
      position: relative;

      &.withDash {
        &::after {
          content: '';
          position: absolute;
          top: 0.375rem;
          left: -0.625rem;
          width: 0.375rem;
          height: 0.0625rem;
          background: $cuddle-70;
        }
      }
    }

    &__imagesBox {
      padding-bottom: 0.25rem;
      padding-top: 0.375rem;
      display: flex;

      &__imageBox {
        margin-right: toRem(10px);
        height: 100%;
        position: absolute;

        img {
          height: calc(100% - 0.625rem);
          width: calc(100% - 0.625rem);
          margin-top: toRem(5px);
          margin-left: toRem(5px);
        }

        span {
          margin-top: toRem(5px);
          margin-left: toRem(5px);
        }

        img:hover, span:hover {
          box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 15%);
        }

        .active {
          img, span {
            box-shadow: 0px 0px 0px 3px rgb(0 0 0 / 24%);
          }
        }
      }
    }
  }
}
