@use 'src/styles/abstracts' as *;

.BookmarkCard__container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #dee6f3;
  transition: border 0.3s ease-out;
  border-radius: 8px;
  padding: 1.5em 4em 1.5em 1.5em;
  &:hover {
    border: 1px solid $primary-color;
  }
}
.BookmarkCard__delete {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  cursor: pointer;
  i {
    font-size: 0.75em;
  }
}

.BookmarkCard__top {
  flex: 1 1;
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}

.BookmarkCard__title__section {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.BookmarkCard__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.BookmarkCard__bottom {
  strong {
    color: #243969;
    margin-right: 0.5em;
  }
}
