@use 'src/styles/abstracts' as *;

.BookmarkCard__container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #dee6f3;
  border-radius: 0.5em;
  padding: 1.5em;
  margin-bottom: 1em;
}

.BookmarkCard__delete {
  margin-left: 0.25rem;

  i {
    color: $text-color;
  }
}

.BookmarkCard__top {
  flex: 1 1;

  p {
    margin-top: 0.25em;
    font-weight: normal;
    font-size: $text-sm;
  }
}

.BookmarkCard__title__section {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.BookmarkCard__title {
  font-weight: 600;
  font-size: 18px;
}

.BookmarkCard__bottom {
  margin-top: 0.75em;

  strong {
    color: #243969;
    margin-right: 0.5em;
  }
}

.BookmarkCard__selected__metrics {
  margin-top: 1em;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
}
