.BookMarkCard {
  display: flex;
  flex-direction: column;
  height: 160px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dfe6f7;
  transition: border .3s ease-out;
  text-decoration: none !important;
  color: #3b5896;
  overflow: hidden;
  &:hover {
    border: 1px solid #3b5896;
  }
}

.BookMarkCard__top {
  padding: 1em;
  flex: 1 1;
  border-bottom: 1px solid #3b5896;
  background-color: #f7faff;
  span {
    font-size: 1.25em;
  }
}

.BookMarkCard__bottom {
  padding: 1em;
  strong {
    color: #243969;
    text-transform: uppercase;
    margin-right: 0.5em;
  }
}
