.ExploreAim__container {
  display: flex;
  flex-direction: column;
  border-left: 0.0625em solid #E8F1FC;
  padding: 1.5em 1.5em 1.5em 2.5em;
  min-width: 600px;
  h2 {
    margin: 0;
  }

}

.ExploreAim_card__container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

.ExploreAim__social__item {
  border: 0.0625em solid #E8F1FC;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
  text-decoration: none;
  max-width: 33em;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    border-color: #1473E6;
    i {
      color: #1473E6;
    }
  }
  span {
    font-size: 1em;
    line-height: 1.1875em;
    color: #031123;
    flex: 1;
  }

  img {
    margin-right: 1em;
    width: 2em;
  }

  i {
    font-size: 0.625em;
  }
}

.ExploreAim__social__container {
  margin-top: 2em;
}

.ExploreAim__block__item {
  margin-top: 3em;
}
