@use 'src/styles/abstracts' as *;

.PlotlyVisualizer {
  height: 100%;
  padding: toRem(10px);
  overflow-y: auto;
  &__recordCnt {
    height: 100%;
    &__plotWrapper {
      width: 100%;
      height: 100%;
    }
  }
}
