include README.md LICENSE src/aim/VERSION
recursive-include src/aim/storage *.h *.hpp *.cpp *.cxx *.pxd *.pyx
recursive-include src/aim/storage/migrations *
recursive-include src/aim/web/migrations *
