include README.md LICENSE src/python/aim/VERSION
recursive-include src/python/aim/_core/storage *.h *.hpp *.cpp *.cxx *.pxd *.pyx
recursive-include src/aimcore/web/migrations *
recursive-include pkgs/aimstack *.py
