sphinx>=4.0,<4.1
myst-parser
nbsphinx>=0.8.5
ipython[notebook]
pandoc>=1.0
docutils>=0.16
sphinxcontrib-fulltoc>=1.0
sphinxcontrib-mockautodoc
sphinx-autodoc-typehints>=1.0
sphinx-paramlinks>=0.5.1
sphinx-togglebutton>=0.2
sphinx-copybutton>=0.3
sphinx-rtd-theme==0.5.2
m2r2==0.3.1
