absl-py==0.7.1
aim==0.1.0
-e git+git@github.com:SGevorg/aim-deploy.git@5e779507cc3e8f4b9a963f9a8481eac10c741e74#egg=aim_deploy
astor==0.8.0
certifi==2019.3.9
chardet==3.0.4
click==6.7
docker==4.0.1
gast==0.2.2
grpcio==1.21.1
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.4
Pillow==6.0.0
protobuf==3.8.0
requests==2.22.0
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
torch==1.1.0
torchvision==0.3.0
urllib3==1.25.3
websocket-client==0.56.0
Werkzeug==0.15.4
