line-length = 120

exclude = [
"migrations",
"aim_ui_core.py",
]
[lint.per-file-ignores]
"__init__.py" = ["F401"]

[lint.flake8-quotes]
inline-quotes = "single"

[lint]
extend-select = [
  "I",
  "PGH004", # blanket-noqa
  "RUF100", # unused-noqa
]

[lint.isort]
no-lines-before = ["future", "standard-library", "first-party"]
lines-between-types = 1
lines-after-imports = 2

[lint.isort.sections]
"aim" = ["aim"]

[format]
quote-style = "single"
