@use 'styles/abstracts/index' as *;

.AutocompleteInput {
  height: 2rem;
  max-width: 100vw;
  border: $border-grey;
  display: flex;
  align-items: center;
  border-radius: $border-radius-main;
  padding: 0.5rem;
  color: $text-color;
  .mtk1 {
    color: $pico;
  }
}
