@use 'styles/abstracts/index' as *;

.AutocompleteInput {
  height: 2rem;
  max-width: 100vw;
  border: $border-grey-light;
  display: flex;
  align-items: center;
  border-radius: $border-radius-main;
  padding: $space-xs;
  position: relative;
  &:hover {
    border: 0.0625rem solid $cuddle-110;
  }
  &__focused {
    border: 0.0625rem solid $cuddle-110;
  }
  &__advanced {
    height: 4.5rem;
    align-items: flex-start;
    padding: $space-xxxs $space-xs;
  }
  &__placeholder {
    position: absolute;
    left: $space-xs;
    color: $text-color-50;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include monospaceFontFamily();
    font-size: $text-lg;
  }
  &__disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .details-label {
    width: auto !important;
  }
  .codicon-suggest-more-info {
    display: none !important;
  }

  .scroll-decoration {
    box-shadow: unset !important;
  }
  .monaco-editor .find-widget.visible {
    display: none;
  }
}
