@use 'src/styles/abstracts' as *;

.SplitPane {
  display: flex;
  width: 100%;
  height: 100%;
  .gutter {
    transition: background-color 0.15s ease-out;
    background-color: transparent;
    &:hover {
      background-color: $primary-color-50;
    }
  }
  &.horizontal {
    flex-direction: row;
    .gutter.gutter-horizontal {
      cursor: col-resize;
      box-shadow: inset 2px 0 1px 0 $primary-color-20;
    }
    .SplitPaneItem {
      overflow-x: auto;
    }
  }
  &.vertical {
    flex-direction: column;
    .gutter.gutter-vertical {
      cursor: row-resize;
      box-shadow: inset 0 2px 1px 0 $primary-color-20;
    }
    .SplitPaneItem {
      overflow-y: auto;
    }
  }
  &.hide {
    visibility: hidden;
  }
}
