@use 'src/styles/abstracts' as *;

.MuiPopover-root {
  z-index: 5!important;
}

.MuiAutocomplete-popperDisablePortal {
  position: initial!important;
}

.MuiAutocomplete-listbox {
  .MuiAutocomplete-groupUl .MuiAutocomplete-option {
    padding: 0.625rem 1rem;

    .MuiCheckbox-root {
      padding: 0;
    }

    .SelectForm__option {
      display: flex;
      width: 100%;
      overflow: hidden;
      &__label {
        margin-left: $space-xs;
        max-width: 100%;
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
}
