@use 'src/styles/abstracts' as *;

.MuiAutocomplete-paper {
  // box-shadow: unset;
  margin: unset;
}

.MuiAutocomplete-popperDisablePortal {
  position: initial !important;
}

.MuiAutocomplete-listbox {
  .MuiAutocomplete-groupUl .MuiAutocomplete-option {
    padding: 0.625rem 1rem;

    .MuiCheckbox-root {
      padding: 0;
    }

    .SelectForm__option__label {
      margin-left: $space-xs;
    }
  }
}
