@use 'src/styles/abstracts' as *;

.MuiAutocomplete-popperDisablePortal {
  position: initial !important;
}

.MuiAutocomplete-listbox {
  .MuiAutocomplete-groupUl .MuiAutocomplete-option {
    padding: 0.625rem 1rem;

    .MuiCheckbox-root {
      padding: 0;
    }

    .QueryForm__option,
    .SelectForm__option,
    .Metrics__SelectForm__option {
      display: flex;
      width: 100%;
      overflow: hidden;
      &__label {
        margin-left: $space-xs;
        max-width: 100%;
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
}
