@use 'src/styles/abstracts' as *;

.LineChart {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  min-width: toRem(150px);
  min-height: toRem(150px);

  &__emptyData {
    font-size: 1em;
    fill: #586069;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.backgroundRect {
    cursor: crosshair;
  }

  &.zoomMode rect {
    cursor: zoom-in;
  }

  .HoverLine {
    stroke: #94999f; /* var(--grey-light) */
  }

  .HoverCircle {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 1;
    cursor: pointer;
  }

  /* on click */
  .HoverCircle.focus {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 2;
    opacity: 1;
  }

  /* on hover */
  .HoverCircle.active {
    stroke: $primary-light;
    stroke-width: 3;
    opacity: 1;
  }

  .Attributes.highlight > .HoverCircle:not(.active):not(.focus) {
    opacity: 0.5;
  }

  .ChartMouseValue {
    position: absolute;
    box-sizing: border-box;
    padding: $space-xxs $space-xs;
    background-color: $primary-bg;
    border: 1px solid $primary-light;
    color: $primary-dark;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
  }

  .ChartMouseValueXAxis {
    transform: translateX(-50%);
    border-radius: 0 0 6px 6px;
    border-top: none;
    overflow: hidden;
  }

  .ChartMouseValueYAxis {
    transform: translateY(-50%);
    border-radius: 6px 0 0 6px;
    border-right: none;
    overflow: hidden;
    box-shadow: inset -8px 0 5px -6px #3b5896; /* var(--primary);*/
  }

  .Lines {
    overflow: hidden;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      &.optimizeRendering {
        shape-rendering: optimizeSpeed;
      }
    }
  }

  .Line {
    stroke-width: 1.45;
    opacity: 1;

    &.active {
      opacity: 1;
      stroke-width: 3px;
    }

    &.aggregated {
      opacity: 0;

      &.highlighted {
        opacity: 0.5;
      }

      &.active {
        opacity: 0.8;
      }
    }

    &.highlighted {
      opacity: 1;
      stroke-width: 2.2px;
    }
  }

  .Lines.highlight > .Line:not(.active):not(.highlighted):not(.aggregated) {
    stroke-width: 1.45;
    opacity: 0.2;
  }

  .AggrLine {
    opacity: 1;
    stroke-width: 2.2px;
  }

  .Lines.highlight > .AggrArea:not(.highlighted) {
    opacity: 0.2;
  }

  .AggrArea.highlighted {
    opacity: 1;
  }

  .inProgressLineIndicator {
    animation: inProgressIndicator 1s linear infinite;
    stroke-width: 1;
    stroke: $success-color;
    fill: $teal;
    opacity: 1;
  }

  .Lines.highlight {
    .inProgressLineIndicator {
      opacity: 0.2;
      &.active {
        opacity: 1;
      }
    }
  }

  @keyframes inProgressIndicator {
    0% {
      stroke: none;
    }
    50% {
      stroke: $success-color;
    }
    100% {
      stroke: none;
    }
  }
}
