@use 'src/styles/abstracts' as *;

.LineChart {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  min-width: toRem(150px);
  min-height: toRem(150px);
  .emptyData {
    font-size: 1em;
    fill: #586069;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.backgroundRect {
    cursor: crosshair;
  }
  &.zoomMode rect {
    cursor: zoom-in;
  }
  .HoverLine {
    stroke: #94999f; /* var(--grey-light) */
  }
  .HoverCircle {
    cursor: pointer;
    opacity: 1;
    stroke-width: 1.45;
    fill: white;
    outline: 0 solid;
    border-radius: 50%;
    /* on click */
    &.focus {
      stroke-width: 2;
      outline-width: 6px;
      clip-path: unset;
    }
    /* on hover */
    &.active {
      stroke-width: 2.6;
    }
  }
  .Attributes {
    &.highlight > .HoverCircle:not(.active):not(.focus) {
      opacity: 0.5;
    }
  }
  .ChartMouseValue {
    position: absolute;
    box-sizing: border-box;
    padding: $space-xxs $space-xs;
    background-color: $primary-bg;
    border: 1px solid $primary-light;
    color: $primary-dark;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
  }
  .ChartMouseValueXAxis {
    transform: translateX(-50%);
    border-radius: 0 0 6px 6px;
    border-top: none;
    overflow: hidden;
  }
  .ChartMouseValueYAxis {
    transform: translateY(-50%);
    border-radius: 6px 0 0 6px;
    border-right: none;
    overflow: hidden;
    box-shadow: inset -8px 0 5px -6px #3b5896; /* var(--primary);*/
  }
  .Lines {
    overflow: hidden;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      &.optimizeRendering {
        shape-rendering: optimizeSpeed;
      }
    }
    &.highlight {
      .AggrLine {
        opacity: 0.2;
        &.highlighted {
          opacity: 1;
        }
      }
      .AggrArea {
        &.highlighted {
          opacity: 1;
        }
      }
      & > .Line:not(.active):not(.highlighted):not(.aggregated) {
        stroke-width: 1.45;
        opacity: 0.2;
      }
      & > .AggrArea:not(.highlighted) {
        opacity: 0.2;
      }
    }
  }
  .Line {
    stroke-width: 1.45;
    opacity: 1;
    &.active {
      opacity: 1;
      stroke-width: 3;
    }
    &.highlighted {
      opacity: 1;
      stroke-width: 2.8;
    }
    &.aggregated {
      opacity: 0;
      stroke-width: 0.4;
      &.highlighted {
        opacity: 0.5;
        stroke-width: 2.8;
      }
      &.active {
        opacity: 0.8;
        stroke-width: 2.8;
      }
    }
  }
  .AggrLine {
    opacity: 1;
    stroke-width: 2.2;
  }

  .inProgressLineIndicator {
    animation: inProgressIndicator 1s linear infinite;
    stroke-width: 1;
    stroke: $success-color;
    fill: $teal;
    opacity: 1;
  }

  .Lines.highlight {
    .inProgressLineIndicator {
      opacity: 0.2;
      &.active {
        opacity: 1;
      }
    }
  }

  @keyframes inProgressIndicator {
    0% {
      stroke: none;
    }
    50% {
      stroke: $success-color;
    }
    100% {
      stroke: none;
    }
  }
}
