@use 'src/styles/abstracts' as *;

.ImageFullViewPopover {
  display: flex;
  justify-content: start;
  align-items: start;
  &__detailContainer {
    height: 100%;
    min-width: 14.375rem;
    .PopoverContent {
      box-shadow: unset;
      &__container {
        box-shadow: unset;
      }
      &__imageSetBox {
        padding-top: 0;
      }
    }
    &__closeButtonContainer {
      color: #414b6d;
      padding: 0.25rem 0.3125rem 0.25rem 0;
      display: flex;
      justify-content: end;
      .Icon__container {
        font-size: 0.625rem;
      }
    }
  }
}
