@use 'src/styles/abstracts' as *;

.Params__section {
  height: 100vh;
  overflow: hidden;
  .Params__loader {
    flex-direction: column;
    justify-content: space-between;
  }
}

.Params__container {
  min-width: 50rem;
  .Params__fullHeight {
    height: 100%;
    // height: -moz-available; /* WebKit-based browsers will ignore this. */
    // height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  }
  .Params__section__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Params__ResizePanel {
    &__hide {
      display: none;
    }
  }

  .Params__chart__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0;
    flex: 0.5 1 0;
    min-height: 11.25rem;
    &__emptyBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    &__hide {
      display: none;
    }
  }

  .Params__table__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0;
    flex: 0.5 1 0;
    min-height: 11rem;
    &__hide {
      display: none;
    }
  }
}

.Params__SelectForm__Grouping__container {
  display: flex;
  border-bottom: 0.0625rem solid #e8f1fc;
}

.Metrics__controls__container {
  width: 3.75rem;
  max-height: 100%;
  overflow-y: auto;
}
