.selectForm {
    height: 120px;
}

.flex {
    display: flex;
}

.selectForm__tags {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 4px;
    border-radius: 4px;
    flex: 1;
    max-width: 75%;
    display: flex;
    overflow: scroll;
}
