@use "src/styles/abstracts" as *;

.Dropdown {
  position: relative;
  &__label {
    position: absolute;
    z-index: 1;
    transition: 0.3s all;
    pointer-events: none;
    &.swapped {
      background: #ffffff;
      transition: 0.3s all;
      padding: 0 0.25rem;
      top: -0.5125rem !important;
    }
  }
  &__indicatorContainer {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.IndicatorsContainer {
  padding-right: 0.9375rem;
  height: 100%;
  display: flex;
  align-items: center;
  &__clearIcon {
    margin-right: 1.25rem;
  }
}

.DropdownCustomOption {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: $border-radius-sm;
  &:hover {
    background: #f2f5fa;
  }
}
