.ChartPanel__container {
  height: 100%;
  // height: -moz-available; /* WebKit-based browsers will ignore this. */
  // height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */

  .ChartPanel {
    overflow: hidden;
    height: 100%;
    border-right: 1px solid #e8f1fc;
  }

  .ChartPanel__paper {
    padding: 1em;
    height: 100%;
    user-select: none;
  }

  .ChartPanel__paper__grid {
    height: 100%;
    overflow: auto;
    margin: 0;
    &__chartBox {
      min-height: 50%;
    }
  }
}
