.Sidebar__container {
  width: 80px;
}

.Sidebar__Paper {
  background-color: #09003f !important;
}

.Sidebar__List {
  padding: 0;
}

.Sidebar__List__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0.5em;
  img {
    width: 40px;
    margin: auto;
  }
}

.Sidebar__List__item__icon {
  color: #fff;
}

.Sidebar__anchor {
  position: relative;
  text-decoration: none;
  color: black;
  .Sidebar__List__item__text {
    margin-top: 6px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
  }
}

.Sidebar__anchor__active {
  display: block;
  &:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 3px;
    height: 40px;
    width: 3px;
    background-color: #ffff;
    border-radius: 0 0.375em 0.375em 0;
  }
}
