-r ../requirements.txt
torch
tensorflow
deeplake<4.0.0 # update when proper documentation is available
azure-storage-blob # for deeplake
# hub
fastapi>=0.87.0
httpx
pandas
pytest
flake8
parameterized==0.8.1
pytest-cov==2.12.1
