@use 'src/styles/abstracts' as *;

.SelectDropdown {
  position: relative;
  &__popper {
    .MuiAutocomplete-groupLabel {
      color: $text-color-50;
      font-size: $text-sm;
      font-weight: 500;
      border-top: $border-separator;
    }

    .MuiAutocomplete-option[aria-selected="true"] {
      .SelectDropdown__option__label {
        color: $primary-color;
      }
    }
  }
  &__groupItem {
    padding: $space-xxs $space-sm;
    width: 100%;
    user-select: none;
    &__divider {
      margin: $space-xs 0;
    }
  }
  &__Input {
    display: flex;
    padding: $space-sm $space-unit;
  }
}