@use 'src/styles/abstracts' as *;

.SelectDropdown {
  &__groupItem {
    padding: $space-xxs $space-sm;
    width: 100%;
    user-select: none;
    &__divider {
      margin: $space-xs 0;
    }
  }
  &__Input {
    display: flex;
    padding: $space-sm $space-unit;
  }
}