@use 'src/styles/abstracts' as *;

.ImagesExplore__container {
  background-color: #ffffff;
  min-width: 50rem;
  .ImagesExplore__section {
    height: 100%;
    overflow-y: scroll;
  }
  .ImagesExplore__fullHeight {
    height: 100%;
  }

  .ImagesExplore__section__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ImagesSet {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid $border-color-main;
  &__imagesBox {
    display: flex;
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}
