@use 'styles/abstracts/index' as *;

.RunDetailNotesTab {
  .isLoading {
    .ProseMirror {
      opacity: 0;
    }
  }
  padding: 1.5rem 0;
  height: 100%;
  &__Editor {
    height: 100%;
    position: relative;
    &__actionPanel {
      display: flex;
      background-color: $cuddle-20;
      justify-content: space-between;
      padding: $space-xs $space-lg;
      border-radius: $border-radius-lg $border-radius-lg 0 0;
      border: $border-grey;
      &__info {
        display: flex;
        align-items: center;
        &-field {
          display: flex;
          align-items: center;
          i {
            margin-right: $space-sm;
          }
          &:first-child {
            margin-right: $space-unit;
          }
        }
      }
      &__saveBtn {
        &.Mui-disabled {
          color: $white !important;
        }
      }
    }
    &__container {
      justify-content: start !important;
      height: calc(100% - 44px);
      & > div:first-child {
        height: 100%;
        border-radius: 0 0 $border-radius-lg $border-radius-lg;
        border: $border-grey;
        border-top: 0;
      }
    }
    .ProseMirror {
      font-size: $text-lg;
      padding: $space-unit 2rem;
      padding-left: toRem(48px);
      font-family: 'Inter', sans-serif;
      font-weight: $font-500;
      height: 100%;
      opacity: 1;
      color: $pico;
      transition: opacity 0.18s ease-out;
      overflow: auto;
      .block-menu-trigger {
        margin-left: toRem(-27px);
        &:hover {
          color: $pico-80;
        }
      }
      code {
        font-size: 100%;
      }
      input {
        background-color: unset;
      }
      a {
        color: $denim;
      }
      &-selectednode {
        outline: $border-main-active !important;
      }
      hr {
        &::before {
          border-top: 0.0625rem solid #bdcee8;
        }
      }
      .page-break {
        &::before {
          border-top: 0.0625rem dashed #bdcee8;
        }
      }
      .heading-actions {
        display: none;
      }
      h1,
      h2,
      h3,
      h4 {
        &::before {
          content: unset !important;
          display: none !important;
        }
      }
      mark {
        background-color: $mark-color;
        color: $pico;
      }
      h1 {
        font-size: $text-xxxl;
      }
    }
  }
  &__spinnerWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
}
#block-menu-container {
  box-shadow: 0 0.25rem 0.375rem rgb(144 175 218 / 20%);
  border: 0.0625rem solid #e8f1fc;
  svg {
    fill: $pico-80;
  }
}

#notes-toolbar-popover {
  box-shadow: 0 0.25rem 0.375rem rgb(144 175 218 / 20%);
  border: $border-grey-light;
  &::before {
    content: unset !important;
  }
}
