@use 'src/styles/abstracts' as *;

.LogRecordItem {
  &__title {
    align-items: center;
    display: flex;
    padding: 0 $space-lg;
    .Icon__container {
      border-radius: $border-radius-circle;
      background-color: $primary-color-10;
      margin-right: $space-xxxs;
      color: $text-color;
    }
  }
  &__content {
    position: relative;
    padding-left: toRem(52px);
    padding-right: toRem(24px);
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: -$space-xxxxs;
      left: 2.25rem;
      width: toRem(1px);
      height: calc(100% + 8px);
      background-color: $primary-color-20;
    }
    &-title {
      padding: 0 $space-lg;
    }
    &__item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      &::before {
        content: '';
        position: absolute;
        top: $space-xs;
        left: -$space-unit;
        width: 12px;
        height: 1px;
        background-color: $primary-color-20;
      }
      &__leftBox {
        display: flex;
        align-items: center;
        margin-right: $space-xxs;
        height: 100%;
        &__statusBadge {
          width: 1rem;
          height: 1rem;
          border-radius: $border-radius-circle;
          display: flex;
          justify-content: center;
          align-items: center;
          background: red;
          margin-right: $space-xxs;
        }
        &__date {
          margin-right: $space-xxs;
          @include monospaceFontFamily(12);
        }
        .Table__status_indicator {
          margin-right: 0;
        }
      }
      &__itemBox {
        font-size: $text-sm;
        display: flex;
        align-items: center;
        max-width: calc(100% - 156px);
        height: 100%;
        position: relative;
        padding: 0 8px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: toRem(5px);
          width: toRem(1px);
          height: toRem(10px);
          background: $pico;
        }
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: toRem(5px);
          width: toRem(1px);
          height: toRem(10px);
          background: $pico;
        }
        &__message {
          width: 100%;
        }
        &__extraParams {
          margin-left: $space-xxs;
          padding-left: $space-xxs;
          max-width: 150px;
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis;
          cursor: pointer;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: toRem(5px);
            width: toRem(1px);
            height: toRem(10px);
            background: $pico;
          }
        }
      }
    }
  }
}
