@use 'src/styles/abstracts' as *;

.AggregationPopover {
  width: 16.5rem;
  padding: $space-xs;
  &__subtitle {
    padding: $space-xs;
    text-transform: uppercase;
  }
  &__Divider {
    margin: $space-xs 0;
  }
}
