@use 'src/styles/abstracts' as *;

.LogsTabWrapper {
  height: 100%;
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: $space-lg 0;
    &__resizePanel {
      border: $border-grey;
      border-radius: $border-radius-lg;
      width: 100%;
      display: flex;
      .gutter {
        cursor: col-resize;
      }
      &__panelBox {
        background: $white;
        min-width: toRem(416px);
      }
    }
  }
}
