@use 'src/styles/abstracts' as *;
.CodeBlock {
  background: #f2f3f4;
  border-radius: $border-radius-main;
  padding: 1em 3em 1em 1em;
  position: relative;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  overflow: auto;
  pre {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: $text-lg;
    line-height: 1.3125em;
    color: #031123;
    overflow: auto;
    font-family: 'Inconsolata', monospace;
    font-variation-settings: 'wdth' 82;
  }
  .prism-code {
    background-color: transparent !important;
  }
  &__copy__button {
    top: 0.75rem;
    right: 1rem;
    color: $pico-80;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .prism-code {
    --ms-overflow-style: none;
    --scrollbar-width: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
