@use "./functions" as *;

$primary-color: #1473e6;
$error-color: #e64e48;
$success-color: #2bc784;
$warning-color: #e8bb1b;
//colors
$blue: #4b9bff;
$orange: #ffb46e;
$red: #ff5f5f;
$teal: #50d2a0;
$pink: #ff73c3;
$green: #9be169;
$purple: #af78ff;
$yellow: #ffd76e;
$cyan: #5fc8ff;
$indigo: #7785ff;
$white: #ffffff;
$pico: #1c2852;
$grayish: #dee6f3;
$cuddle: #bdcee8;
$denim: $primary-color;

$grey: #586069;

$grey-darker: #24292e;
$grey-bg: #f7f7f7;
$grey-lighter: #e8e8e8;
$grey-light-xx: #d4d4d4;
$primary-dark: #243969;
$primary-darker: #142447;
$primary-bg: #f7faff;
$primary-lighter: #dfe6f7;
$primary-light: #7a94cc;

// tinted colors
$primary-color-90: #2C81E9;
$primary-color-80: #438FEB;
$primary-color-70: #5B9DEE;
$primary-color-60: #72ABF0;
$primary-color-50: #89b9f2;
$primary-color-40: #A1C7F5;
$primary-color-30: #D0E3FA;
$primary-color-10: #e8f1fc;
$primary-color-5: #f3f8fe;


$pico-100: #1c2852;
$pico-90: #2A355A;
$pico-80: #414b6d;
$pico-70: #606986;
$pico-60: #6B728B;
$pico-50: #83899e;
$pico-40: #A4A9BA;
$pico-30: #B5B9C5;
$pico-20: #D2D4DC;
$pico-10: #e8eaee;
$pico-5: #f4f4f6;

$cuddle-110: #90afda;
$cuddle-70: #d1ddef;
$cuddle-50: #dee6f3;
$cuddle-30: #ebf0f8;
$cuddle-20: #f2f5fa;
$cuddle-10: #f8fafd;

$warning-color-80: #EDC949;
$warning-color-50: #F4DD8D;
$warning-color-10: #FDF8E8;
$warning-color-5: #F7F7F3;

$success-color-80: #55D29D;
$success-color-50: #95E3C2;
$success-color-10: #EAF9F3;
$success-color-5: #EEF7F8;

$error-color-80: #EB716D;
$error-color-50: #F3A7A4;
$error-color-10: #FDEDED;
$error-color-5: #F7F1F5;

//border
$border-color-main: $primary-color-10;
$border-main: 0.0625rem solid $border-color-main;
$radius-main: 0.375rem;
$border-color-secondary: $cuddle-20;
$border-secondary: 0.0625rem solid $border-color-secondary;
$border-radius-main: 0.375rem;

$border-radius-sm: 0.25rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.5rem;
//text
$text-color: #414b6d;
$text-color-50: $pico-50;
$text-xxs: 0.625rem;
$text-xs: 0.6875rem;
$text-sm: 0.75rem;
$text-md: 0.875rem;
$text-lg: 1rem;
$text-xl: 1.125rem;
$text-xxl: 1.5rem;
$text-xxxl: 2.25rem;
$xs: 23.5em; // 376px @media (max-width: $xs) {}
$sm: 36em; // (min-width: 576px)
$md: 48em; // (min-width: 768px)
$lg: 62em; // (min-width: 992px)
$gl: 64em; //! gap `lg - xl` (min-width: 1024px)
$xl: 75em; // (min-width: 1200px)
$xxl: 80em; // (min-width: 1280px)
//space
$space-unit: 1rem;
$space-xxxs: $space-unit * 0.25;
$space-xxs: $space-unit * 0.375;
$space-xs: $space-unit * 0.5;
$space-sm: $space-unit * 0.75;
$space-md: $space-unit * 1.25;
$space-xs: $space-unit * 0.5;
//- to container
$col-sm: 540px; // (max-width: 540px)
$col-md: 720px; // (max-width: 720px)
$col-lg: 960px; // (max-width: 960px)
$col-xl: 1140px; // (max-width: 1140px)
$col-xxl: 1420px; // (max-width: 1420px)
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);
