@use 'src/styles/abstracts' as *;

.AimIntegrations {
  margin-top: $space-lg;
}

.AimIntegrations__section {
  padding: $space-lg 0;
}

.AimIntegrations__section__title {
  margin-bottom: $space-sm;
}

.AimIntegrations__section__accordion {
  box-shadow: 0 0 0 1px $pico-20;
  margin: 0 !important;

  &::before {
    content: none;
  }
}

.AimIntegrations__section__accordion__summary {
  padding: $space-xs $space-sm !important;
  min-height: 42px !important;
  max-height: 42px !important;
}

.AimIntegrations__section__accordion__details {
  display: block;
  padding: $space-sm $space-sm!important;
}

.AimIntegrations__section__text {
  font-style: italic;
  margin-top: $space-sm;
}
