@use 'styles/abstracts/index' as *;

.NotesTab {
  .isLoading {
    .toastui-editor-main {
      opacity: 0;
    }
  }
  &__Editor {
    padding-top: 1.5rem;
    position: relative;
    &__actionBtns {
      position: absolute;
      top: toRem(34px);
      right: toRem(22px);
      display: flex;
      & > div:first-child {
        margin-right: $space-xs;
      }
    }
    .Spinner {
      position: absolute;
      top: 0;
    }
    .toastui-editor {
      &-toolbar {
        background-color: $cuddle-20;
      }
      &-defaultUI {
        border: $border-grey;
        background-color: $white;
        &-toolbar {
          margin-right: 100px;
          border-bottom: unset;
          background-color: $cuddle-20;
          padding: 0 24px;
          input:checked + .switch::before {
            background-color: $primary-color;
          }
          button {
            border-color: $cuddle-20;
          }
        }
        .ProseMirror {
          height: 100%;
        }
      }
      &-md-splitter {
        cursor: pointer;
        position: unset;
        width: 4px;
        cursor: col-resize;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #e8f1fc;
        transition: all 0.15s ease-out;
        transition-delay: 0.3s;
        &:hover {
          background-color: #89b9f2 !important;
        }
      }
      &-mode-switch {
        border-top: $border-main;
        .tab-item {
          border: $border-main;
        }
        .tab-item.active {
          border-top: 0.0625rem solid $white;
        }
      }
    }
    .scroll-sync {
      font-family: 'Inter', sans-serif;
      font-size: $text-md;
      &::before {
        color: $text-color !important;
      }
    }
    .toastui-editor-md-preview,
    .toastui-editor {
      border-top: $border-main;
      min-width: toRem(200px);
      word-break: break-all;
    }
  }
}
