@use "src/styles/abstracts" as *;

.SelectForm__container {
  flex: 1;
  padding: 0.725rem 1.5em;
  display: flex;
}

.SelectForm__metrics__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
}

.Metrics__SelectForm__tags {
  display: flex;
  align-items: center;
  overflow: auto;
  width: calc(100vw - 43.325rem);
  min-width: 12rem;

  .TagLabel {
    margin-right: 0.5rem;
  }
}

.SelectForm__metric__select {
  width: 100%;

  input {
    font-family: monospace;
    padding: 0.5rem;
    font-size: $text-md;
    border-bottom: $border-main;
  }
}

.SelectForm__TextField {
  input {
    font-family: monospace;
  }
}

.SelectForm__textarea {
  flex: 1;
  .MuiOutlinedInput-multiline.MuiOutlinedInput-marginDense {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  textarea {
    font-family: monospace;
  }
}

.SelectForm__search__container {
  width: 103px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.SelectForm__search__button {
  width: 100%;
}

.SelectForm__search__actions {
  display: flex;
  justify-content: space-between;

  button {
    border: $border-main;
    width: 2em;
    &:nth-child(2) {
      margin: 0 0.25rem;
    }
    &.active {
      border: 0.0625rem solid $primary-color;
      background-color: tint($primary-color, 95);
    }
  }
}

.SelectForm__Popper {
  border: $border-main;
  width: 40%;
  border-radius: $radius-main;
  z-index: 1;
  color: #586069;
  background-color: #ffffff;
  .MuiAutocomplete-paper {
    box-shadow: unset;
    margin: unset;
  }
}

.SelectForm__clearAll {
  height: 24px;
  width: 24px;
  background: #e8f1fc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    box-shadow: inset -20px 0px 20px 0px;
    left: -59px;
    top: -2px;
    color: white;
    border-radius: $border-radius-lg;
    pointer-events: none;
  }

  i {
    color: #1473e6;
    font-size: 10px;
  }
}
