@use 'src/styles/abstracts' as *;

.ExperimentOverviewTab {
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  padding: 0 $space-unit;
  &__content {
    flex: 1 100%;
    max-width: calc(
      #{$container-max-width-without-paddings} - #{$run-overview-sidebar-width}
    );
    height: 100%;
    &__section {
      margin: $space-lg 0;
      background: $white;
      padding: $space-lg;
      border: $border-grey;
      border-radius: $border-radius-lg;
      display: inline-block;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1500px) {
  .ExperimentOverviewTab {
    &__content {
      max-width: calc(100% - #{$run-overview-sidebar-width});
    }
  }
}
