@use 'src/styles/abstracts' as *;

.BaseGroupingItem {
  margin-right: $space-xxxxs;
  border: $border-transparent;

  &__label {
    margin-right: $space-xxxxs;
    margin-top: toRem(1px);
  }
  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: $primary-color-10;
  }
  &.outlined {
    background-color: $primary-color-10;
    border: $border-main-active;
  }
  &:hover {
    background-color: $pico-5;
  }
  .Icon__container {
    color: $pico-80;
  }
}
