@use 'src/styles/abstracts' as *;

$border: 1px solid $primary-color-10;
.Home {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0 0 1rem 0;
  }

  &__Explore__container {
    border-top: $border;
    border-bottom: $border;
    display: flex;
  }
  &__Activity__container {
    padding: $space-lg;
  }
}
