@use 'src/styles/abstracts' as *;

$border: 1px solid $primary-color-10;
.Home {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  .DataList .BaseTable__row-cell {
    p {
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  height: 100vh;
  &__middle {
    padding: $space-md $space-lg;
    border: $border;
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex: 1 1;
  }
  &__Explore__container {
    border-top: $border;
    border-bottom: $border;
    display: flex;
  }
  h2 {
    margin: 0 0 1rem 0;
  }
}
