.HoverLine {
    stroke: #94999f; /* var(--grey-light) */
}

.HoverCircle {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 1;
    transition: all 200ms ease;
    cursor: pointer;
}

.focus {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 2;
    opacity: 1;
}

.active {
    stroke: #7a94cc ;/* var(--primary-light); */
    stroke-width: 3;
    opacity: 1;
}