// -------- contained overrides --------
.MuiButton-contained {
  &.Mui-disabled {
    box-shadow: none;
    background-color: #1266cc;
    color: white;
    opacity: 0.5;
  }
  &:hover {
    box-shadow: none;
  }
}

// -------- outlined overrides --------
.MuiButton-outlined {
  &.Mui-disabled {
    box-shadow: none;
    color: #89b9f2;
    border-color: #89b9f2;
    opacity: 0.5;
  }
}

// text
.MuiButton-label {
  text-transform: capitalize;
}

// -------- text overrides --------
.MuiButton-text {
  &.Mui-disabled {
    color: #89b9f2;
  }
}
