@use 'src/styles/abstracts' as *;

.ColorPopoverAdvanced {
  width: 25rem;

  &__Switcher__button__container {
    height: 1.75rem;
    display: flex;
    align-items: center;
    .ColorPopoverAdvanced__span {
      margin-left: 0.875rem;
    }
  }
  &__persistence {
    padding: 1rem;
    border-bottom: $border-main;
  }

  &__persistence__p {
    margin: 0.5rem 0 1rem 0;
  }

  &__preferred__colors {
    padding: 1rem;
    h3 {
      margin-bottom: 0.5rem;
    }
    .ColorPopoverAdvanced__span {
      flex: 1;
    }
  }

  &__paletteColors__container {
    display: flex;
    border-radius: $border-radius-md;
    width: 10.5rem;
    border: 0.0625rem solid transparent;
    height: 2rem;
    overflow: hidden;
    transition: all 0.18s ease-out;
    padding: 0.1875rem;

    &.active {
      border: 0.0625rem solid $primary-color;
    }
  }

  &__paletteColors_colorItem {
    display: inline-block;
    flex: 1;
    height: 100%;

    &:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    &:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}
