@use 'src/styles/abstracts' as *;
@import './utils';

.ScrollBar__hidden {
  --ms-overflow-style: none;
  --scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 100%;

  @include mq(sm) {
    max-width: $col-sm;
  }

  @include mq(md) {
    max-width: $col-md;
  }

  @include mq(lg) {
    max-width: $col-lg;
  }

  @include mq(xl) {
    max-width: $col-xl;
  }

  @include mq(xxl) {
    max-width: $col-xxl;
  }
}
