/**
 * Common styles
 */
.flex {
  display: flex;
}

.iflex {
  display: inline-flex;
}
.m0a {
  margin: 0 auto;
}
.fac {
  display: flex;
  align-items: center;
}

.fae {
  align-items: flex-end;
}
.fjse {
  display: flex;
  justify-content: space-evenly;
}
.fjb {
  display: flex;
  justify-content: space-between;
}

.fja {
  justify-content: space-around;
}

.fjc {
  justify-content: center;
}

.fdc {
  display: flex;
  flex-direction: column;
}

.fwrap {
  flex-wrap: wrap;
}
.fje {
  justify-content: flex-end;
}
.fdr {
  flex-direction: row;
}
.fdr-reverse {
  flex-direction: row-reverse;
}

.fdr-reverse {
  flex-direction: column-reverse;
}

.ttu {
  text-transform: uppercase;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}

.posrel {
  position: relative;
}

.posabs {
  position: absolute;
}

.trans {
  transition: all 0.3s;
}

.transparent {
  opacity: 0;
}

.hidden {
  display: none;
}

.nodrag {
  pointer-events: none;
}

.c-pointer {
  cursor: pointer;
}

.h-full {
  height: 100%;
}

.raw-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
