@use 'src/styles/abstracts/index' as *;

.RunOverviewSidebar {
  max-width: toRem(312px);
  padding: $space-xs;

  h3 {
    margin-bottom: 1rem;
  }

  &__section {
    margin: 0 1rem 1.5rem;

    &__info {
      div {
        display: flex;
        align-items: center;
        height: 1.5rem;
      }

      .Icon__container {
        font-size: 0.875rem;
        margin-right: 0.75rem;
      }
    }

    &__tags {
      &-list {
        display: flex;
        align-items: center;

        .Badge {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &__insights {
      padding-top: 1.5rem;
      margin: unset;

      h3 {
        margin-left: 1rem;
      }
    }

    &__Divider {
      margin: 0 1rem;
    }

  }

  &__NavLink {
    display: flex;
    justify-content: space-between;
    outline: none;
    text-decoration: none;
    padding: $space-xs $space-unit;
    border-radius: $border-radius-sm;
    transition: background-color .18s ease-out;

    &:hover {
      background-color: $cuddle-30;
    }
  }
}
