.popover_container {
    h3 {
        color: #324480;
        text-transform: uppercase;
        font-size: 1em;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }
}

.popover__header {
    padding: 0.5em 1em;
    border-bottom: 1px solid #B7B7B7;
}

