@use 'src/styles/abstracts' as *;

.CodeBlock__container {
  background: #f2f3f4;
  border-radius: 6px;
  padding: 1em 3em 1em 1em;
  position: relative;
  pre {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: $text-md;
    line-height: 1.3125em;
    color: #031123;
  }

  .prism-code {
    background-color: transparent !important;
  }
}

.CodeBlock__copy__span {
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
