@use 'src/styles/abstracts' as *;

.ResizePanelDots {
  display: flex;
  transition: 0.18s ease-out;
  transition-delay: 0.3s;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
  &.horizontal {
    flex-direction: row;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
    background-size: auto 0.3em;
  }
  &.vertical {
    flex-direction: column;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    background-size: 0.3em auto;
  }
}