@use 'src/styles/abstracts' as *;

.AxesPropsPopover {
  width: 24.375rem;
  padding: $space-xs;
  &__subtitle {
    padding-block: $space-xs;
    text-transform: uppercase;
  }
  &__divider {
    margin: $space-xs 0;
  }
  &__range, &__alignment {
    padding: $space-xs;
  }
  &__range {
    &__container {
      display: flex;
      align-items: center;

      &.yAxis {
        margin-top: $space-sm;
      }
      .AxesPropsPopover__subtitle {
        margin-right: auto;
      }
    }
  }

  .scaleRangeInput {
    &__min, &__max {
      display: inline-block;
      width: 6.875rem;
    }

    &__min {
      margin-right: $space-xs;
    }
  }

  &__autocomplete__popper {
    .MuiAutocomplete-groupLabel {
      color: $text-color-50;
      font-size: $text-sm;
      font-weight: 500;
      border-top: $border-separator;
    }

    .MuiAutocomplete-option[aria-selected="true"] {
      .SelectDropdown__option__label {
        color: $primary-color;
      }
    }
  }
}
