@use 'src/styles/abstracts' as *;

.SmoothingPopover {
  width: 24.5rem;
  padding: $space-xs;
  &__Divider {
    margin: $space-xs 0;
  }

  &__subtitle {
    text-transform: uppercase;
    padding: $space-xs $space-xs;
  }
  &__ToggleButton {
    padding: 0 $space-xs;
  }

  &__Slider {
    margin: 0 $space-xs;
  }
}
