@use 'src/styles/abstracts' as *;

.StatisticsBar {
  position: relative;
  background-color: $pico-2;
  overflow: hidden;
  border-radius: $border-radius-sm;
  &__item {
    display: inline-flex;
    height: 100%;
    position: absolute;
  }
}
