@use 'src/styles/abstracts' as *;

.Metrics__section {
  height: 100vh;
  overflow: hidden;
  .Metrics__loader {
    flex-direction: column;
    justify-content: space-between;
  }
  .Metrics__visualization {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 100%;
    max-height: calc(100% - #{toRem(136px)});
    .ProgressBar {
      padding-bottom: toRem(136px);
    }
  }
}

.Metrics__container {
  background-color: #ffffff;
  min-width: 50rem;
  .Metrics__fullHeight {
    height: 100%;
  }
  .Metrics__section__appBarContainer {
    display: flex;
    flex-direction: column;
  }
  .Metrics__chart__container {
    flex: 0.5 1 0;
    min-height: 11.25rem;
    &.fullHeight {
      flex: 1 100% !important;
    }
    &.hide {
      display: none;
    }
  }
  .Metrics__ResizePanel {
    &.hide {
      display: none;
    }
  }
  .Metrics__table__container {
    flex: 0.5 1 0;
    min-height: 11rem;
    &.fullHeight {
      flex: 1 100% !important;
    }
    &.hide {
      display: none;
    }
  }
}

.Metrics__SelectForm__Grouping__container {
  display: flex;
  border-bottom: $border-main;
  min-height: 6rem;
  max-height: 6rem;
}

.Metrics__table__aggregationColumn__cell {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: calc(100% + 28px);
  span {
    display: inline-block;
    width: 100%;
    min-width: 120px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-of-type(2) {
      padding: 0 $space-xs;
      margin: 0 $space-xs;
      border-left: $border-separator;
      border-right: $border-separator;
    }

    &:nth-of-type(4) {
      padding: 0 $space-xs;
      margin: 0 $space-xs;
      border-left: $border-separator;
    }
  }
}
