@use 'src/styles/abstracts' as *;

.RunLogRecords {
  padding: $space-lg 0;
  height: 100%;
  &__contentWrapper {
    background: var(--aim-surface);
    border: $border-grey;
    border-radius: $border-radius-lg;
    height: 100%;
    &__listWrapper {
      height: 100%;
      position: relative;
      .overlay {
        display: none;
        height: toRem(50px);
        width: 100%;
        background: var(--aim-surface);
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
