@use 'src/styles/abstracts' as *;

.RunLogRecords {
  border-top: none;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  &__title {
    margin-bottom: $space-sm;
    padding: 0 $space-sm;
  }
  &__content {
    padding-bottom: $space-xxxxs;
    &-title {
      margin-bottom: $space-sm;
    }
  }
}
