@use "src/styles/abstracts" as *;

.AxesScalePopover {
  width: 21.5rem;
  padding: 1rem;

  &__subtitle {
    text-transform: uppercase;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $space-xs;
  }
}
