.Front__container {
  background-color: #F4F9FF;
  height: 100vh;
}

.Front__Statistics__card {
  background: linear-gradient(97.73deg, #8C32AF 0%, #6BACE5 100%);
  opacity: 0.8;
  border-radius: 6px;
  width: 200px;
  height: 80px;
}
