@use 'src/styles/abstracts' as *;

.FeedItem {
  margin-bottom: $space-xs;
  &__title {
    align-items: center;
    display: flex;
    margin-bottom: $space-xxxs;
    .Icon__container {
      border-radius: $border-radius-circle;
      background-color: $primary-color-10;
      margin-right: $space-xxxs;
      color: $text-color;
    }
  }
  &__content {
    position: relative;
    padding-left: toRem(28px);
    &::before {
      content: '';
      position: absolute;
      top: -$space-xxxxs;
      left: $space-sm;
      width: 1px;
      height: calc(100% + 8px);
      background-color: $primary-color-20;
    }
    &__item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: $space-xs;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: $space-xs;
        left: -$space-unit;
        width: 12px;
        height: 1px;
        background-color: $primary-color-20;
      }
      &__leftBox {
        display: flex;
        align-items: center;
        &__label {
          margin-right: $space-xxxs;
        }
        &__date {
          margin-right: $space-sm;
          @include monospaceFontFamily(12);
        }
        .Table__status_indicator {
          margin-right: 0;
        }
      }
      &__itemBox {
        font-size: $text-sm;
        display: flex;
        align-items: center;
        max-width: calc(100% - 156px);
        width: 100%;
        .ExperimentNameBox {
          margin-right: $space-xxxxs;
          max-width: 50%;
          &__experimentName {
            max-width: 100%;
          }
          a {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inherit;
          }
        }
        &__runName {
          max-width: 50%;
          margin-left: $space-xxxxs;
          display: flex;
          a {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
          }
        }
      }
    }
  }
}
