@use 'src/styles/abstracts' as *;


.RunDetailMetricsTab {
  padding: 0 0 $space-lg;
  &__header {
    margin: $space-lg 0;
    padding-bottom: 0.625rem;
    border-bottom: $border-grey;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: $space-lg;
    align-items: stretch;
    &__chartContainer {
      position: relative;
      width: calc(50% - 0.75rem);
      border: $border-grey;
      border-radius: 0.5rem;
      background: $white;
      &__chartBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24.5rem;
        padding: 0.625rem;
        .LineChart__container {
          background-color: transparent;
        }
      }
      &__metricDetailBox {
        border-top: $border-grey;
        padding: 1rem 1.5rem 1.5rem;
        &__metricName {
          margin: $space-xs 0;
          word-break: break-all;
        }
        &__pin {
          position: absolute;
          top: $space-xs;
          right: $space-xs;
          z-index: 1;
        }
        .SelectForm__tags__item {
          margin-top: 0.5rem;
        }
        .Badge {
          margin-right: $space-xxs;
          margin-bottom: $space-xxs;
        }
      }
    }
  }
}

.Dashboard {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  .DataList .BaseTable__row-cell {
    p {
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  height: 100vh;
  &__tabsContainer {
    margin-bottom: 16px;

    &__tabs {
      min-height: 48px;
    }
  }

  &__tabPanel {
    padding: 16px 0;
  }

  &__middle {
    padding: $space-md $space-lg;
    border: $border-dark-lighter;
    border-top: none;
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex: 1 1;

    &--centered {
      align-items: center;
      justify-content: center;
    }
  }
  &__Explore__container {
    border-top: $border-dark-lighter;
    border-bottom: $border-dark-lighter;
    display: flex;
  }
  h2 {
    margin: 0 0 1rem 0;
  }
}
