@import 'src/styles/abstracts/_variables.scss';

.TagForm {
  &__tagFormContainer {
    padding: 20px;
    border-bottom: 1px solid #f2f5fa;
    &__labelField {
      width: 100%;
      margin-bottom: 20px;
    }
    &__commentField {
      width: 100%;
      margin-bottom: 20px;
    }
    &__containerTitle {
      font-weight: 500;
      font-size: 14px;
      margin-left: 10px;
      margin-bottom: 6px;
    }
    &__colorContainer {
      margin-bottom: 20px;
      &__colorBox {
        padding: 5px;
        border: 1px solid #bdcee8;
        border-radius: 6px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__colorButton {
          border-radius: 50%;
          margin: 5px;
          width: 39px;
          height: 39px;
          min-width: auto;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background: transparent;
          }
          .MuiButton-label {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
          }
          &__content {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            opacity: 0.2;
          }
          &__circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &__previewContainer {
      &__tagPreviewBox {
        border: 1px solid #bdcee8;
        border-radius: 6px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        position: relative;

        &__tagPreview {
          height: 24px;
          border: 1px solid;
          max-width: 90%;
          overflow: hidden;
          border-radius: 6px;
          &__content {
            width: 100%;
            height: 100%;
            opacity: 0.1;
            color: transparent;
            padding: 1px 32px 4px;
            overflow: hidden;
            max-width: calc(100% - 104px);
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &__label {
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: 500;
            font-size: 14px;
            transform: translate(-50%, -50%);
            overflow: hidden;
            max-width: calc(100% - 104px);
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  &__tagFormFooterContainer {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__secondaryButton {
      margin-right: 10px;
      height: 32px;
      font-weight: 500;
      font-size: 14px;
      color: $text-color;
      text-transform: none;
    }
    &__primaryButton {
      height: 32px;
      font-weight: 500;
      font-size: 14px;
      color: $white;
      text-transform: none;
    }
  }
}
