@use 'src/styles/abstracts' as *;

.Tags {
  &__tabPanel {
    height: calc(100% - 50px);
    position: relative;
    & > div {
      height: 100%;
      position: relative;
    }
  }
  &__tabsContainer {
    border-radius: 0;
    padding-left: 1.25rem;
    box-shadow: none;
    border: 0.0625rem solid #ebf0f8;
    .PrivateTabIndicator-root-5 {
      height: 0.1875rem;
    }
    .MuiTab-textColorInherit {
      color: $text-color;
      opacity: 1;
      font-weight: 500;
      font-size: $text-mm;
      text-transform: none;
      &.MuiInputBase-input {
        font-weight: 600;
      }
    }
  }
  &__TagList {
    position: relative;
    height: 100%;
    border-left: 0.0625rem solid #dee6f3;
    border-right: 0.0625rem solid #dee6f3;
    &__tagListBusyLoader {
      padding-top: 100px;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25rem;
      background: #ffffff;
      border-bottom: 0.0625rem solid #ebf0f8;
      .MuiInputBase-root {
        height: 2rem;
        padding-left: 0.8125rem;
        border-radius: $border-radius-main;
        i {
          padding-right: 0.5625rem;
        }
        .MuiInputBase-input {
          font-weight: 500;
          font-size: $text-mm;
          color: #414b6d;
          &::placeholder {
            font-weight: 500;
            font-size: $text-mm;
            color: #606986;
            opacity: 1;
          }
        }
      }
      &__createButton {
        text-transform: none;
        width: 126px;
        padding: 4px 10px 4px 13px;
        i {
          padding-right: 0.5rem;
        }
        .MuiButton-label {
          font-weight: 500;
          font-size: $text-mm;
          justify-content: flex-start;
        }
      }
    }
    &__tagListBox {
      height: calc(100% - 73px);
      position: relative;
      &__titleBox {
        position: relative;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        background-color: $white;
        &::before {
          content: '';
          width: 34px;
          height: 3px;
          background: $primary-color;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        &__title {
          font-weight: 600;
          font-size: $text-mm;
        }
      }
    }
    &__modalContainer {
      width: 350px;
      &__titleBox {
        height: 40px;
        border-bottom: 1px solid #f2f5fa;
        display: flex;
        justify-content: center;
        align-items: center;
        &__title {
          font-weight: 600;
          font-size: $text-mm;
        }
      }
    }
    &__overLayContainer {
      .MuiDrawer-paper {
        width: 800px;
        box-shadow: -5px 0px 10px rgba(28, 40, 82, 0.1);
        top: 50px;
      }
      .MuiBackdrop-root {
        background-color: transparent;
      }
    }
  }
}

.TagsTable {
  height: calc(100% - 40px);
  width: 100%;
  position: relative;
  &__commentContainer {
    max-width: 600px;
    word-break: break-word;
    z-index: 99900;

    &__actionsContainer {
      right: 0;
      top: 0;
      height: 100%;
      position: absolute;
      align-items: center;
      display: flex;
      width: 160px;
      justify-content: flex-end;
      padding-right: 20px;
      background: linear-gradient(
        90deg,
        rgba(236, 243, 252, 0) 0%,
        #ecf3fc 26.41%,
        #ecf3fc 60.3%
      );
    }
  }
  &__runCreatedDate {
    font-weight: 500;
    color: $text-color;
  }
  &__runName {
    font-weight: 500;
    color: $primary-color;
    text-decoration: none;
  }
  .BaseTable {
    &__table-main {
      outline: none;
    }
    &__header {
      &-row {
        background: #ebf0f8;
        border-bottom: none;
      }
      &-cell {
        border-right: 1px solid #dee6f3;
        border-bottom: 1px solid #dee6f3;
        padding: 0 15px;
        &:last-child {
          border-right: none;
        }
      }
    }
    &__row {
      border-bottom: none;
      &--hovered {
        background: #e8f1fc;
      }
      &-cell {
        border-right: 1px solid #dee6f3;
        border-bottom: 1px solid #dee6f3;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        &:last-child {
          white-space: unset;
          border-right: none;
        }
        a {
          text-decoration: none;
        }
        .MuiButton-root {
          text-transform: none;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }

  &__runContainer {
    &__runBox {
      padding-left: 5px;
      display: flex;
      align-items: center;
      &__runIconBox {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 1px solid $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        &__runIcon {
          width: 4px;
          height: 4px;
          background: $primary-color;
          border-radius: 50%;
        }
      }
      &__runText {
        font-weight: 500;
        font-size: $text-mm;
        color: $primary-color;
      }
    }
  }
}

.TagDetail {
  height: 100%;
  &__headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 13px;
    height: 40px;
    border-bottom: 1px solid #dee6f3;
    &__headerActionsBox {
      display: flex;
      align-items: center;
      i {
        font-size: 1rem;
      }
      &__actionsIcon {
        margin-right: 25px;
        cursor: pointer;
        font-size: 1rem;
        color: $primary-color;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.TagSoftDelete {
  &__contentContainer {
    padding: 25px 20px;
    display: flex;
    &__iconContainer {
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .MuiSvgIcon-root {
        width: 4.5rem;
        height: 3.5rem;
      }
    }
    &__textBox {
      &__titleText {
        font-weight: 600;
        font-size: $text-mm;
        margin-bottom: 5px;
      }
      &__contentText {
        font-weight: normal;
        font-size: $text-sm;
      }
    }
  }
  &__footerBox {
    border-top: 1px solid #dee6f3;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__cancelButton {
      margin-right: 10px;
    }
  }
}

.TagDelete {
  &__contentContainer {
    padding: 20px;
    &__contentTitle {
      font-size: $text-mm;
      font-weight: 600;
    }
    &__contentBox {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .TagForm__tagFormContainer__labelField {
        margin-bottom: 0;
      }
      &__warningText {
        font-size: $text-sm;
        font-weight: normal;
        word-break: break-all;
        margin-bottom: 15px;
      }
    }
  }
  &__footerBox {
    border-top: 1px solid #dee6f3;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__cancelButton {
      margin-right: 10px;
    }
  }
}


.TagDetail__headerContainer__headerActionsBox__actionsIcon__Wrapper {
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  color: $primary-color;
  &:hover {
    background-color:rgba(28, 40, 82, 0.05);
  }
}
