@use 'src/styles/abstracts' as *;

.GroupingPopover {
  width: 25rem;

  h3 {
    text-transform: uppercase;
  }

  &__container__select {
    padding: 1rem;
  }

  &__toggleMode__div {
    display: flex;
    flex-direction: column;
    border-top: $border-main;
    border-bottom: $border-main;
    padding: 1rem;
  }

  &__subtitle {
    margin-bottom: 0.75rem;
  }

  &__accordion__container {
    box-shadow: unset;
    margin: 0 !important;

    .GroupingPopover__subtitle {
      margin-bottom: unset;
    }

    .MuiAccordionSummary-expandIcon {
      padding: 0;
      transform: unset;
      margin: unset;

      &.Mui-expanded {
        transform: unset;
      }
    }

    .Mui-expanded {
      margin: 0;
    }
  }

  &__advanced__component {
    padding-bottom: 0.875rem;
  }

  .MuiAccordionSummary-root {
    min-height: unset;
    height: 2.125rem;
    border-bottom: $border-main;
    padding: 0 1rem;
  }
}

.AdvancedPopover__container {
  width: 25rem;
}

.AdvancedPopover__paletteColors__container {
  display: flex;
  border-radius: 4px;
  width: 10.5rem;
  border-top: $border-main;
  height: 2rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.AdvancedPopover__paletteColors_colorItem {
  display: inline-block;
  flex: 1;
  height: 100%;
}
