@use 'src/styles/abstracts' as *;

.Badge {
  height: 1.75rem;
  border-radius: 0.375rem;
  font-weight: 500;
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    height: unset;
    margin: 0;
  }

  &__icon__wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
  }
  &__delete__icon__wrapper {
    width: 1.125rem;
    height: 1.125rem;
    margin-left: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-xs;
    transition: all 0.18s ease-out;
    &:hover {
      background-color: inherit;
    }
  }
  &__select {
    margin-top: $space-xxxs;
    margin-right: $space-xxxs;
  }
  &__default {
    color: #414b6d;
    background-color: $cuddle-10;
    border: 0.0625rem solid $cuddle-50;
    &:hover {
      background-color: $cuddle-10;
    }
    .Badge__delete__icon__wrapper {
      i {
        color: $text-color;
      }
      &:hover {
        background-color: $cuddle-30;
      }
    }
  }

  &__small,
  &__xSmall {
    font-size: $text-sm;
    i {
      font-size: 0.4375rem;
      margin-bottom: 1px;
    }
    .MuiChip-label {
      padding: 0 $space-xs;
    }
    .Badge__delete__icon__wrapper {
      width: 0.875rem;
      height: 0.875rem;
    }
  }
  &__small {
    height: 1.5rem;
  }

  &__xSmall {
    height: 1.25rem;
  }
  &__medium {
    height: 1.5rem;
    font-size: $text-md;
    .MuiChip-label {
      padding: 0 $space-sm;
    }
    i {
      font-size: $text-xxs;
    }
  }

  &__large,
  &__xLarge {
    font-size: $text-md;
    height: 1.75rem;
    .MuiChip-label {
      padding: 0 $space-sm;
    }
    .Badge__delete__icon__wrapper {
      margin-right: $space-xs;
      i {
        font-size: $text-xxs;
      }
    }
  }
  &__xLarge {
    height: 2rem;
    .MuiChip-label {
      padding: 0 $space-unit;
    }
  }
}
