@use 'src/styles/abstracts' as *;

.BookmarkCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: $border-grey;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;

  &__delete {
    margin-left: 0.25rem;
  }

  &__top {
    flex: 1 1;
    p {
      margin-top: 0.25rem;
      font-weight: normal;
      font-size: $text-sm;
    }
  }

  &__title__section {
    display: flex;
    justify-content: space-between;
    &__container {
      display: flex;
      i {
        margin-right: 0.5rem;
        margin-top: 0.125rem;
      }
    }
    a {
      text-decoration: none;
    }
  }

  &__bottom {
    margin-top: 0.75rem;
    strong {
      color: #243969;
      margin-right: 0.5rem;
    }
  }

  &__selected__metrics {
    margin-top: 0.875rem;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    padding: 0.125rem 0;
    .Badge {
      margin-right: 0.5rem;
    }
  }

  &__run__expression {
    margin-right: 2.8125rem;
  }
}
