@use 'src/styles/abstracts' as *;

.BookmarkCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: $border-grey;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;

  &__delete {
    margin-left: 0.25rem;
  }

  &__top {
    flex: 1 1;
    p {
      margin-top: 0.25rem;
      font-weight: $font-400;
      font-size: $text-sm;
    }
  }

  &__description {
    max-width: 100%;
    word-break: break-all;
  }

  &__actionButtonsBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__titleBox__section {
    display: flex;
    justify-content: space-between;
    &__container {
      display: flex;
      max-width: calc(100% - 14rem);
      margin-bottom: toRem(10px);

      &__title {
        width: 100%;
        word-break: break-all;
        cursor: default;
      }

      &__iconBox {
        height: fit-content;
        margin-top: $space-xxxxs;
        i {
          margin-right: 0.5rem;
          margin-top: $space-xxxxs;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  &__bottom {
    margin-top: 0.75rem;
    strong {
      color: $primary-dark;
      margin-right: 0.5rem;
    }
  }

  &__selected__metrics {
    margin-top: 0.875rem;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    padding: 0.125rem 0;
    .Badge {
      margin-right: 0.5rem;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
