@use 'src/styles/abstracts' as *;

.RunOverviewTab {
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  padding: 0 1rem;
  &__content {
    flex: 1 100%;
    max-width: calc(
      #{$container-max-width-without-paddings} - #{$run-overview-sidebar-width}
    );
  }
  &__cardBox {
    margin-bottom: $space-lg;
    &:first-child {
      margin-top: $space-lg;
    }
    &:last-child {
      display: inline-block;
    }
    &__tableTitleCount {
      margin-left: $space-xxxs;
    }
    &__badge {
      height: toRem(20px);
      &.emptyContext {
        background: $cuddle-10;
        border: $border-grey;
        color: $pico-80;
      }
    }
  }
  .DataList {
    .IllustrationBlock {
      height: 100%;
    }
  }
}
