@use 'src/styles/abstracts/index' as *;

.VisualizerPanel {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 $space-lg;
  border-bottom: $border-grey;
}
