@use "src/styles/abstracts" as *;

.SelectForm__container {
  flex: 1;
  padding: 0.725rem 1.5em;
  display: flex;
}

.SelectForm__params__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* TODO [GA]: Override MUI default styles in a nice way */
  .MuiBox-root {
    justify-content: flex-start;
  }
}

.SelectForm__tags {
  display: flex;
  align-items: center;
  overflow: auto;
  max-width: calc(100vw - 40rem);
  min-width: 15rem;

  .Badge {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 20px;
    }
  }
}

.SelectForm__param__select {
  width: 100%;

  input {
    padding: 8px;
    font-size: $text-md;
    border-bottom: $border-main;
    font-family: monospace;
  }
}

.SelectForm__search__container {
  width: 103px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Params__SelectForm__search__button {
  width: 100px;
  margin-left: 10px;
}

.SelectForm__search__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.SelectForm__Popper {
  border: $border-main;
  width: 40%;
  border-radius: $radius-main;
  z-index: 1;
  color: #586069;
  background-color: #ffffff;
  .MuiAutocomplete-paper {
    box-shadow: unset;
    margin: unset;
  }
}

.SelectForm__clearAll {
  height: 24px;
  width: 24px;
  background: #e8f1fc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 34px;
    background: rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 92%
    );
    left: -20px;
    top: -5px;
    border-radius: 0;
    color: white;
    pointer-events: none;
  }

  i {
    color: #1473e6;
    font-size: 10px;
  }
}
