@use 'src/styles/abstracts' as *;

$bookmark-height: 2rem;
$bookmark-space: $space-xs;

.HomeBookmarks {
  padding: $space-unit;
  border-top: $border-main;
  &__list {
    max-height: calc(5 * #{$bookmark-height} + 4 * #{$bookmark-space});
    overflow: auto;
    margin-top: $space-lg;
    &__ListItem {
      margin-bottom: $space-xs;
      &__Text {
        flex: 1;
        margin-left: $space-xs;
        text-transform: capitalize;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
