$cell-color-dark: #f5f5f5;
$border-color: #e6e6e6;
$box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
$border-radius: 0.2em;
$grey: #586069;
$grey-dark: #484f56;
$grey-darker: #24292e;
$grey-bg: #f7f7f7;
$grey-lighter: #e8e8e8;
$grey-light-xx: #d4d4d4;
$primary: #3b5896;
$primary-dark: #243969;
$primary-darker: #142447;
$primary-bg: #f7faff;
$primary-lighter: #dfe6f7;
$primary-light: #7a94cc;
$space-unit: 1em;
$space-xxs: $space-unit * 0.375;
$space-xs: $space-unit * 0.5;
$space-sm: $space-unit * 0.75;
$space-md: $space-unit * 1.25;
$space-xs: $space-unit * 0.5;

$text-base-unit: 1em;
$text-scale-ratio: 1.2;
$text-sm: $text-base-unit / $text-scale-ratio;
$text-md: $text-base-unit;

$cell-height: 32px;
$group-margin: 8px;

.Table__container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #fff;

  &.Table__container--short {
    $cell-height: 28px;
    $group-margin: 6px;
  }
  f &.Table__container--medium {
    $cell-height: 32px;
    $group-margin: 8px;
  }

  &.Table__container--tall {
    $cell-height: 36px;
    $group-margin: 10px;
  }
}

.Table {
  position: relative;
  display: flex;
  width: max-content;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  content-visibility: auto;
}

.Table__pane {
  display: flex;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  min-height: 100%;
  box-sizing: border-box;
  z-index: 0;
}

.Table__pane--left,
.Table__pane--right {
  position: sticky;
  width: auto;
  z-index: 1;
}

.Table__pane--left {
  left: 0;
  box-shadow: 1px 0 3px 0 #aaa;
}

.Table__pane--right {
  right: 0;
  box-shadow: -1px 0 3px 0 #aaa;
}

.Table__column {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 0;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;

  &:last-of-type {
    .Table__cell,
    .Table__group__config__cell {
      border-right: none;
    }
  }
}

.Table__action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin: 5px 0 5px 5px;
  border-radius: 50%;
  transition: background-color ease 110ms;
  user-select: none;
  color: $grey-dark;

  &:hover {
    background-color: $grey-lighter;
  }

  &:active {
    background-color: $grey-light-xx;
    color: $grey-darker;
  }
}

.Table__action__popup {
  background-color: #fff;
  border: 1px solid $primary-lighter;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.Table__action__popup__body {
  min-width: 180px;
}

.Table__action__popup__item {
  padding: $space-xxs $space-xs;
  border-bottom: 1px solid $border-color;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $primary;
  transition: background-color 110ms ease;
  user-select: none;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: $grey-bg;
  }

  &:active {
    background-color: $primary-lighter;
    color: $primary-darker;
  }

  .Icon {
    margin-right: $space-xxs;
  }
}

.Table__cell {
  display: flex;
  align-items: center;
  font-size: $text-sm;
  color: $grey;
  padding: 0 $space-sm;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  text-align: left;
  box-sizing: border-box;
  background-color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: $cell-height;

  &.placeholder {
    border-right: unset;
  }

  &.Table__group__header__cell {
    position: relative;
    background-color: #fcfcfc;
    border-color: $border-color;
    z-index: 1;
    transition: background-color 0.2s ease-out;

    &.expanded {
      position: sticky;
      top: 2 * $cell-height;
    }

    &.expandable:hover {
      background-color: #f3f3f3;
    }
  }

  &.Table__group__config__column__cell {
    background-color: $grey-bg;
    border-right: 1px solid $border-color;
    border-bottom: none;
    padding: 0;

    .Table__cell__rowMeta {
      display: flex;
      align-items: flex-start;
      height: 100%;
      max-width: 25vw;
      overflow: auto;
      box-sizing: border-box;
      margin: 0;

      .Table__group__config__meta {
        max-height: 100%;

        .react-json-view {
          padding: $space-xs !important;
        }
      }
    }
  }

  &.active {
    background-color: $primary-lighter;
  }

  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Table__cell--header {
  position: sticky;
  top: $cell-height;
  flex: none;
  background-color: $cell-color-dark;
  padding: $space-xxs $space-sm;
  font-size: $text-md;
  border-color: $border-color;
  color: $grey-dark;
  font-weight: bold;
  z-index: 3;
  overflow: visible;

  & > *:first-child {
    flex: 1;
  }
}

.Table__column__resizeHandler {
  position: absolute;
  right: -1px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: $primary;
  z-index: 10;
  cursor: col-resize;
  opacity: 0;
  transition: opacity 110ms ease;

  &.leftResize {
    right: unset;
    left: -1px;
  }

  &.isResizing,
  &:hover {
    opacity: 1;
  }
}

.Table__cell--topHeader {
  top: 0;
  background-color: $grey-bg;
  font-size: $text-sm;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-top: 1px solid $border-color;
}

.Table__header__action__container {
  display: flex;
}

.Table__header__action {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 21px;
  margin-left: $space-xxs;
  background-color: $primary-bg;
  border: 1px solid $primary-lighter;
  border-radius: $border-radius;
  color: $primary;
  cursor: pointer;
  opacity: 1;
  user-select: none;
  transition: border-color 110ms ease;

  &:hover,
  &.active {
    border-color: $primary-light;
  }

  &.disabled {
    opacity: 0.65;
    cursor: default;
    pointer-events: none;
    background-color: $grey-bg;
    border-color: $grey-light-xx;
    color: $grey;
  }
}

.Table__group {
  margin-top: $group-margin;
  background-color: #fff;
  border-top: 1px solid $border-color;

  .Table__cell:last-of-type {
    border-bottom: 1px solid $border-color;
  }
}

.Table--grouped {
  .Table__pane {
    padding-bottom: $group-margin;
    &:first-of-type {
      .Table__column {
        &:first-of-type {
          .Table__group {
            margin-left: $group-margin;
            border-left: 1px solid $border-color;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            .Table__group__config__cell {
              border-top-left-radius: $border-radius;
            }

            .Table__cell:last-of-type {
              border-bottom-left-radius: $border-radius;
            }
          }
        }
      }
    }
    &:last-of-type {
      .Table__column {
        &:last-of-type {
          .Table__group {
            margin-right: $group-margin;
            border-right: 1px solid $border-color;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            .Table__cell:last-of-type {
              border-bottom-right-radius: $border-radius;
            }
          }
        }
      }
    }
  }
}

.Table__cell__rowMeta {
  display: flex;
  align-items: center;
  margin-right: $space-sm;
  flex: none;
}

.Popover__body {
  position: fixed;
  background-color: #fff;
  outline: 0;
  overflow-y: auto;
  z-index: 999;
}
