@use 'src/styles/abstracts' as *;

.ExploreAim {
  display: flex;
  flex-direction: column;
  border-left: $border-grey;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  min-width: 600px;
  h2 {
    margin: 0;
  }
  &__card__container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 840px;
  }
  &__social {
    margin-top: 2rem;
    &__item {
      border: $border-grey;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      height: 3.5rem;
      margin-bottom: 0.5rem;
      text-decoration: none;
      max-width: 33rem;
      &:last-child {
        margin-bottom: 0;
      }
      &:visited {
        color: unset;
      }
      &:hover {
        border-color: #1473e6;
        i {
          color: #1473e6;
        }
      }
      span {
        font-size: 1rem;
        line-height: 1.1875rem;
        color: $pico;
        flex: 1;
      }

      img {
        margin-right: 1rem;
        width: 2rem;
      }

      i {
        font-size: 0.625rem;
        color: $text-color;
      }
    }
  }
  &__block__item {
    margin-top: 3rem;
  }
}
