@use 'src/styles/abstracts' as *;

.RunDetailSettingsTab {
  padding: 1.5rem 0;
  &__actionCardsCnt {
    margin: 0 toRem(164px);

    .ActionCard {
      margin-bottom: $space-unit;
    }

    &__btn__delete {
      .MuiButton-label {
        display: initial;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      background-color: $error-color;

      &:hover {
        background-color: $error-color;
      }
    }

    &__btn__archive {
      color: $pico-80;
      border-color: $pico-80;
      &:hover {
        border-color: $pico-80;
      }
    }

    &__btn__unarchive {
      background-color: $pico-50;
      border-color: $pico-50;
      color: $white;
      &:hover {
        border-color: $pico-50;
        background-color: $pico-50;
      }
    }
  }
}
