@use 'src/styles/abstracts' as *;

.ScatterPlot {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  min-width: 100px;
  min-height: 100px;

  &__emptyData{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.backgroundRect {
    cursor: crosshair;
  }

  &.zoomMode rect {
    cursor: zoom-in;
  }

  .HoverLine {
    stroke: #94999f; /* var(--grey-light) */
  }

  .HoverCircle {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 1;
    cursor: pointer;
  }

  /* on click */
  .HoverCircle.focus {
    stroke: #3b5896; /* var(--primary) */
    stroke-width: 2;
    opacity: 1;
  }

  /* on hover */
  .HoverCircle.active {
    stroke: #7a94cc; /* var(--primary-light); */
    stroke-width: 3;
    opacity: 1;
  }

  .Attributes.highlight > .HoverCircle:not(.active):not(.focus) {
    opacity: 0.5;
  }

  .ChartMouseValue {
    position: absolute;
    box-sizing: border-box;
    padding: 0.375em 0.5em; /*var(--space-xxs) var(--space-xs);*/
    background-color: #f7faff; /*var(--primary-bg);*/
    border: 1px solid #7a94cc; /*var(--primary-light);*/
    color: #243969; /*var(--primary-dark);*/
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
  }

  .ChartMouseValueXAxis {
    transform: translateX(-50%);
    border-radius: 0 0 6px 6px;
    border-top: none;
    overflow: hidden;
  }

  .ChartMouseValueYAxis {
    transform: translateY(-50%);
    border-radius: 6px 0 0 6px;
    border-right: none;
    overflow: hidden;
    box-shadow: inset -8px 0 5px -6px #3b5896; /* var(--primary);*/
  }

  .Lines {
    overflow: hidden;
  }

  .Circle {
    opacity: 1;
    &.active {
      opacity: 1;
    }
    &.highlighted {
      opacity: 1;
    }
  }

  .Lines.highlight > .Circle:not(.active):not(.highlighted) {
    opacity: 0.2;
  }

  .yAxis, .xAxis {
    .tick {
      text {
        display: none;
      }
      .yAxisTick, .xAxisTick {
        color: $text-color;
      }
    }
    .domain {
      stroke: $text-color;
      stroke-width: 0.4;
    }
    .xAxisTick {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .yAxisTick {
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
