@import 'src/styles/base/_reset.scss';
@import 'src/styles/components/_autocomplete.scss';
@import 'src/styles/components/_inputs.scss';
@import 'src/styles/_global.scss';

body {
  -webkit-font-smoothing: antialiased;
}

#root {
  background-color: #ffff;
}
.mainContainer {
  width: calc(100% - 75px);
  height: 100%;
}

.preloader-fade-out {
  transition: 0.5s ease-out;
  transition-delay: 0.5s;
  opacity: 0;
}
.pageContainer {
  height: 100%;
  display: flex;
}
