.Controls__container {
  width: 3.125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
   &>div {
    margin-bottom: 1em;
     &:last-child {
       margin-bottom: 0;
     }
  }
}

.Controls__anchor {
  cursor: pointer;
  position: relative;
  &:hover .arrowLeft {
    opacity: 1
  }
}

.Controls__anchor__arrow {
  position: absolute;
  left: -18px;

  .arrowLeft {
    opacity: 0;
    width: 18px;
    transition: all .3s ease-out
  }
}

.Controls__anchor__arrow__opened {
  .arrowLeft {
    //opacity: 1;
    transform: rotate(180deg);
  }
}
