@use 'src/styles/abstracts' as *;

.StrokePopoverAdvanced {
  &__container {
    padding: 1rem;
    &__p {
      margin: 1rem 0;
    }
  }

  &__Switcher__button__container {
    height: 1.75rem;
    display: flex;
    align-items: center;
    .ColorPopoverAdvanced__container__span {
      margin-left: 0.875rem;
    }
  }
}
