@use 'src/styles/abstracts' as *;
.IllustrationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 2.5rem); 
  &__title {
    font-size: $text-xl;
    text-align: center;
  }
  &__hidden {
    display: none;
  }
  &__content {
    font-size: $text-xl;
    text-align: center;
  }
  &__small {
    &__title {
      font-weight: 600;
      font-size: $text-md;
    }
    &__content {
      font-weight: 500;
      font-size: $text-md;
    }
    &__img {
      padding: 10px;
      img {
        width: 50px;
        height: 57px;
      }
    }
  }
  &__medium {
    &__title {
      font-weight: 600;
      font-size: $text-md;
    }
    &__content {
      font-weight: 500;
      font-size: $text-md;
    }
    &__img {
      padding: 10px;
      img {
        width: 70px;
        height: 97px;
      }
    }
  }
  &__large {
    &__title {
      font-weight: 500;
      font-size: $text-lg;
    }
    &__content {
      font-weight: 500;
      font-size: $text-lg;
    }
    &__img {
      padding: 10px;
      img {
        width: 90px;
        height: 110px;
      }
    }
  }
  &__xLarge {
    &__title {
      margin-bottom: 1rem;
    }
    &__img {
      padding: 10px;
      img {
        width: 19.5rem;
        // height: 110px;
      }
    }
  }
}
