@use 'src/styles/abstracts' as *;

.PopoverContent__container {
  position: relative;
  max-height: inherit;
  font-size: $text-sm;
  line-height: 15px;
  color: $pico-80;
  background-color: transparent;

  .PopoverContent {
    max-height: inherit;
    overflow: auto;
    padding-bottom: toRem(3px);
    position: relative;

    &__fixed {
      padding-top: 1.75rem;
      &.PopoverContent__pinned {
        padding-top: 0;
        padding-left: 1.75rem;
      }
    }

    &__actionButtons {
      display: flex;
      padding: $space-xxxxs;
      height: 1.75rem;
      position: absolute;
      top: 0;
      left: 0;
      &__linkActionButton {
        margin-right: $space-xxxxs;
      }
      &__actionButton {
        margin-left: $space-xxxxs;
        &.active {
          background-color: $primary-color-10;
          border: $border-main-active;
        }
      }
      &.vertical {
        flex-direction: column;
        height: 100%;
        .PopoverContent__actionButtons__linkActionButton {
          margin-bottom: $space-xxxxs;
          margin-right: 0;
        }
        .PopoverContent__actionButtons__actionButton {
          margin-top: $space-xxxxs;
          margin-left: 0;
        }
      }
    }

    &__pinned {
      display: flex;
      padding-bottom: 0;
      height: toRem(136px);
      overflow-y: hidden;
      overflow-x: auto;
      .PopoverContent__boxWrapper {
        display: flex;
        .PopoverContent__box {
          overflow-y: auto;
        }
        .PopoverContent__tagBox {
          overflow-y: hidden;
          max-width: toRem(200px);
        }
      }
      .PopoverContent__tagBox {
        overflow: hidden;
        .AttachedTagsList {
          max-height: calc(100% - 1.25rem);
          height: calc(100% - 1.25rem);
          position: relative;
          &__tags {
            max-height: 100%;
          }
          &__ControlPopover__anchor {
            position: absolute;
            right: 0;
            top: -1.875rem;
          }
        }
      }
    }
    &__box {
      padding: 0.625rem 1rem;
    }

    &__valueContainer {
      display: flex;
      //align-items: center;
      margin-top: 0.4rem;
    }

    &__valueContainer:first-child {
      margin-top: 0;
    }

    &__value {
      margin-top: 0.25rem;
      word-break: break-word;
    }

    &__value:first-child {
      margin-top: 0;
    }

    &__headerValue {
      margin-left: 0.4rem;
    }

    &__axisValue {
      margin-top: $space-xxxxs;
      word-break: break-word;
    }

    &__contextValue {
      margin-left: 0.5rem;
      font-weight: $font-400;
    }

    &__subtitle1 {
      color: $pico-50;
      text-transform: uppercase;
      font-weight: $font-500;
    }

    &__subtitle2 {
      font-weight: $font-600;
      text-transform: capitalize;
      color: $text-color;
      margin-top: 8px;
    }
  }
}
