@use 'src/styles/abstracts' as *;

.App_LiveUpdateSettings_Container {
  margin-right: 1.5rem;
  display: flex;
  align-items: flex-end;
  .LiveUpdateText {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625em;
    margin-right: 0.625em;
    color: $pico-100;
  }
}
