.App_LiveUpdateSettings_Container {
  margin-right: 0.8rem;
  display: flex;
  align-items: baseline;
  .LiveUpdateText {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625em;
    margin-right: 0.625em;
  }
}
