@use 'src/styles/abstracts' as *;

.Spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spinner__loader {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(120deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
