@use 'src/styles/abstracts/index' as *;

.SelectTag {
  max-width: 20rem;
  width: 20rem;

  &__tags {
    padding: $space-xs $space-unit;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 50vh;
    .Badge {
      margin: 0;
      max-width: unset;
      cursor: pointer;
    }

    .icon-check {
      padding: 0;
    }

    &__badge {
      display: flex;
      margin-bottom: $space-xs;
      margin-right: $space-xs;
    }
  }

  &__createTag__container {
    padding: $space-xs $space-unit;
    text-align: center;
  }
}
