@use 'src/styles/abstracts' as *;

.GuideLinks {
  padding: $space-sm $space-sm $space-unit;
  display: flex;
  flex-direction: column;
  border-bottom: $border-dark-lighter;
  &__title {
    margin-left: $space-sm;
  }
  &__content {
    margin: $space-xs 0 $space-unit;
    &--name {
      flex: 1 100;
    }
  }
  &--btn {
    margin: 0 $space-sm;
    text-decoration: none;
  }
}
