.CalendarHeatmap {
}

.CalendarHeatmap__map {
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-template-rows: 20px 1fr;
}

.CalendarHeatmap__map__axis {
  color: var(--grey-light);

  &.CalendarHeatmap__map__axis--x {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &.CalendarHeatmap__map__axis--y {
    font-size: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.CalendarHeatmap__map__grid {
  display: grid;
  grid-auto-flow: column;
  user-select: none;
}

.CalendarHeatmap__cell__wrapper {
  width: 100%;
  height: 100%;

  .Tooltip__container {
    width: 100%;
    height: 100%;
  }
}

.CalendarHeatmap__cell {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px #ffff;
  border: 1px solid #1473e6;
  border-radius: 3px;
  transition: box-shadow 50ms ease;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  }

  &.CalendarHeatmap__cell--dummy {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: auto;
  }

  &.CalendarHeatmap__cell--scale-0 {
    background: #fff;
    border: 1px solid #cdcfd3;
  }

  &.CalendarHeatmap__cell--scale-1 {
    background: #abcaf6;
    border: 1px solid #abcaf6;
  }

  &.CalendarHeatmap__cell--scale-2 {
    background: #77a8ef;
    border: 1px solid #abcaf6;
  }

  &.CalendarHeatmap__cell--scale-3 {
    background: #3578e6;
    border: 1px solid #abcaf6;
  }

  &.CalendarHeatmap__cell--scale-4 {
    background: #225ae0;
    border: 1px solid #abcaf6;
  }
}

.CalendarHeatmap__cell__info {
  margin-top: 1em;
  display: flex;
  align-items: center;
  .CalendarHeatmap__cell__wrapper {
    margin-right: 0.25em;
  }
  span {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #35414f;
    margin-right: 0.75em;
    &:last-child {
      margin-left: 0.5em;
    }
  }
}
