@use 'src/styles/abstracts' as *;

.ManageColumns__container {
  display: flex;
  height: 13.125rem;
}

.ColumnList__container {
  width: 13.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-bottom: $border-main;
  &:nth-child(2) {
    border-left: $border-main;
    border-right: $border-main;
  }
}

.ColumnList__title {
  border-bottom: $border-main;
  font-size: $text-md;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1.875rem;
}

.ManageColumns__Search {
  display: flex;
  align-items: center;
  margin: 0 0.875rem;
  width: 100%;
  input {
    font-size: $text-sm;
  }
}

.ManageColumns__Search__icon {
  margin-right: 0.625rem;
}

.ColumnList__items__wrapper {
  height: 100%;
  overflow: auto;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
  min-height: 100px;
}

.ColumnList__items__wrapper__dragging {
  background: #f3f8fe;
}

.ManageColumns__actions__container {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 0.5rem;
    &:nth-child(4) {
      margin-left: 0;
    }

    i {
      margin-right: 0.75rem;
    }
  }
}
