@use 'src/styles/abstracts' as *;

.TextRendererModePopover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  padding: $space-xs;
  max-height: 20rem;
}

.TextRendererModePopover__section {
  width: 100%;
}
