@use 'src/styles/abstracts' as *;

.RunAdditionalInfo {
  &__links {
    padding: $space-xs $space-unit;
    &__link {
      display: flex;
      align-items: center;
      .icon-link {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
      }
    }
  }
  &__tags {
    padding: $space-xs $space-unit;
  }
}
