@use 'src/styles/abstracts' as *;

.RunDetailLogsTabWrapper {
  border-radius: $border-radius-lg;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  height: 100%;
  .RunDetailLogsTab {
    padding: 1.5rem;
    border: $border-grey;
    border-radius: 0.5rem;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    .Logs {
      background: $black;
      padding: $space-sm;
      height: 100%;
      overflow-y: auto;
      &__line {
        color: $white;
        font-family: monospace;
        width: 100%;
        word-break: break-all;    
      }
    }
  }
}
