@use 'src/styles/abstracts' as *;

.TagsCard {
  border-top: $border-main;
  padding: 1rem;
  &__title {
    margin-bottom: $space-unit;
  }
  .defaultSelectIcon {
    border: 1.5px solid $pico-80;
    border-radius: $border-radius-xs;
    width: 1rem;
    height: 1rem;
  }
  .SearchBar {
    width: auto;
    min-width: 250px;
    flex-wrap: wrap;
    .SearchInput {
      margin-bottom: $space-xs;
      margin-right: 0;
    }
  }
  .selectedSelectIcon {
    border-radius: $border-radius-xs;
    width: 1rem;
    height: 1rem;
    background: $primary-color;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partiallySelectedSelectIcon {
    border-radius: $border-radius-xs;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
