@use 'src/styles/abstracts' as *;

.HideRowsPopover {
  padding: 0.5rem;
  width: 16.5rem;
  &__item {
    text-transform: capitalize;
  }
}

.HideRowsPopover__trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 0.0625rem solid transparent;
  transition: all 0.18s ease-out;
  border-radius: $radius-main;
  padding: 0 0.375rem !important;
  margin-right: 0.375rem !important;
  i {
    margin-right: 0.75rem;
  }
  &.opened {
    border: $border-main-active;
    background-color: $primary-color-10;
  }
}
