@use 'src/styles/abstracts' as *;

.GeometriesVisualizer {
  height: 100%;
  padding: toRem(10px);
  overflow: auto;
  &__recordCnt {
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.GeometriesVisualizer__recordCnt__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
