@use 'src/styles/abstracts' as *;

.TagsCard {
  border-top: $border-dark-lighter;
  padding: 1rem;
  padding: $space-unit $space-sm;
  &__title {
    margin-bottom: $space-sm;
    padding: 0 $space-sm;
  }
  .Badge {
    border-radius: $border-radius-sm;
  }
  &__NavLink {
    text-decoration: none;
    display: block;
    margin-top: $space-unit;
  }
}
