@use 'src/styles/abstracts/index' as *;

.ExplorerBar {
  &__menu {
    border-left: $border-main;
    padding: 0 $space-xxxs;
    height: 100%;
    display: flex;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
  &__popover {
    width: 16rem;
    padding: $space-xs;
    display: flex;
    flex-direction: column;
    &__docsLink {
      text-decoration: none;
    }
  }
}
