@use 'src/styles/abstracts' as *;

.ChartLegends {
  box-shadow: 0 0 0 1px #e8e8e8;
  padding: $space-xs;
  background-color: white;
  &.pinned {
    position: relative;
  }
  &.unpinned {
    position: absolute;
    right: 0;
    opacity: 0.8;
    &:hover {
     opacity: 1
    }
  }
  &__container {
    height: 100%;
    width: 100%;
    max-width: 300px;
    overflow: auto;
  }
}
