.ChartLegends {
  position: relative;
  background-color: white;
  box-shadow: -1px -1px 0 0 #e8e8e8;
  padding: 4px;
  &__container {
    height: 100%;
    width: 100%;
    max-width: 300px;
    overflow: auto;
  }
}
