@use 'src/styles/abstracts' as *;

.ChartLegends {
  padding: $space-xs;
  background-color: white;
  height: 100%;
  width: 100%;
  &.pinned {
    position: relative;
  }
  &.unpinned {
    position: absolute;
    right: 0;
    opacity: 0.8;
    box-shadow: 0 0 0 1px $grey-lighter;
    &:hover {
     opacity: 1
    }
  }
  &__container {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
