@import '../../../vars';

@search-filter-height: 0fr;
@padding: 0px;

.HubMainScreen__wrapper {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HubMainScreen {
  width: calc(100% - @padding);
  height: calc(100% - @padding);
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}

.HubMainScreen__grid {
  display: grid;
  grid-template-rows: @controls-width 1fr;
  height: 100%;
  background-color: var(--grey-lighter);
}

.HubMainScreen__grid__search-filter {
}

.HubMainScreen__grid__body {
  display: grid;
  grid-template-columns: 1fr @controls-width;
  box-sizing: border-box;
}

.HubMainScreen__grid__body,
.HubMainScreen__alerts {
  border-top: 1px solid var(--grey-light-xx);
  box-sizing: border-box;
}

.HubMainScreen__grid__body__blocks {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;

  > div {
    box-sizing: border-box;
  }
}

.HubMainScreen__grid__controls {
}

.HubMainScreen__grid__panel {
  position: relative;
  min-height: 300px;
  margin: 5px 0 0 5px;
  overflow: hidden;
  flex: 1;
}

.HubMainScreen__grid__context {
  height: auto;
  overflow: hidden;
  flex: 1;
  min-height: 180px;

  &.HubMainScreen__grid__context--minimize {
    min-height: 40px;
  }
}

.HubMainScreen__grid__context__bar {
  background-color: #fff;
  overflow: hidden;
  margin: 5px 0 0 5px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 1px solid var(--grey-light-xx);
  border-radius: var(--border-radius);
}

.HubMainScreen__grid__resize__area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: -6px 2px 0 7px;
  height: 14px;
  cursor: row-resize;
  user-select: none;
  z-index: 9;

  &:hover {
    .HubMainScreen__grid__resize__handler {
      background-color: var(--primary);
    }
    .HubMainScreen__grid__resize__icon {
      opacity: 0;
    }
  }
}

.HubMainScreen__grid__resize__handler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
  height: 4px;
  width: 100%;
  transition: background-color 150ms ease 250ms;

  &.active {
    transition: background-color 150ms ease 0ms;
    background-color: var(--primary) !important;
    box-shadow: 0 0 7px 0 var(--primary-light);

    .HubMainScreen__grid__resize__icon {
      opacity: 0;
    }
  }
}

.HubMainScreen__grid__resize__icon {
  width: 39px;
  height: 4px;
  opacity: 1;
  transition: opacity 150ms ease 230ms;
  background: repeating-linear-gradient(
    0.25turn,
    transparent 2px,
    var(--grey-light-x) 2px,
    var(--grey-light-x) 6px,
    transparent 6px,
    transparent 10px,
    var(--grey-light-x) 10px,
    var(--grey-light-x) 10px
  );
}
