@use 'src/styles/abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  position: relative;
  display: table;
  width: 100%;
}
body {
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: $font-500;
  color: $text-color;
  height: 100%;
  max-width: 100vw;
}
#root {
  height: 100%;
}
