@use './src/styles/abstracts' as *;

.NotebookVisualizer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: $space-md $space-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.NotebookCell {
  width: 100%;
  border: $border-dark;
  border-radius: $border-radius-sm;
  padding: $space-xxxs;

}

.NotebookCell__editor {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
}

.NotebookCell__editor--readOnly {
  opacity: 0.7;
}

.NotebookCell__editor__runButton__text {
  margin-left: $space-xxs;
  color: inherit;
}

.NotebookCell__error {
  padding: $space-xs $space-sm;
  color: $error-color;
}

.NotebookCell__repr {
  padding: $space-xs $space-sm;
  white-space: normal;
  word-break: break-word;
}

.NotebookCell__grid {
  max-height: 100vh;
  min-height: 500px;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $pico-5;
  border: $border-dark;
}

.NotebookVisualizer__addCell__text {
  margin-left: $space-xxs;
  color: inherit;
}

