.Metrics__section {
  height: 100vh;
  overflow: hidden;
}

.Metrics__container {
  background-color: #ffffff;
  .Metrics__paper {
    padding: 1em;
    height: 100%;
    user-select: none;
  }

  .Metrics__fullHeight {
    height: 100%;
    // height: -moz-available; /* WebKit-based browsers will ignore this. */
    // height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  }

  .Metrics__section__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Metrics__resize {
    cursor: ns-resize;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 6px;
  }

  .Metrics__chart__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0;
    flex: 0.5 1 0;
    min-height: 372px;
    border-bottom: 1px solid #e8f1fc;
  }

  .Metrics__table__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0px;
    flex: 0.5 1 0;
  }
}

.Metrics__SelectForm__Grouping__container {
  display: flex;
  border-bottom: 1px solid #e8f1fc;
}

.Metrics__controls__container {
  width: 50px;
  max-height: 100%;
  overflow-y: auto;
}
