.Metrics__container {
  .Metrics__paper {
    padding: 1em;
    height: 100%;
    user-select: none;
  }

  .Metrics {
    padding: 0.5em
  }

  .Metrics__fullHeight {
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  }

  .Metrics__resize {
    cursor: ns-resize
  }

  .Metrics__chart__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0px;
    flex: 0.5 1 0;
    min-height: 372px;
  }

  .Metrics__table__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0px;
    flex: 0.5 1 0;
  }
}