@use 'src/styles/abstracts' as *;

.ExperimentOverviewSidebar {
  width: $run-overview-sidebar-width;
  min-width: $run-overview-sidebar-width;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $space-xs;
  padding: $space-unit * 2 $space-xs $space-xs;
  position: sticky;
  top: 0;
  h3 {
    margin-bottom: $space-sm;
  }
  &__wrapper {
    height: -moz-fit-content;
    height: fit-content;
  }
  &__section {
    margin: 0 $space-unit $space-lg;
    &__descriptionBox {
      padding-top: $space-md;
      &__header {
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: unset;
        }
        i {
          color: $pico-50;
        }
        h3 {
          margin-top: $space-xxxs;
        }
      }
      &__description {
        display: flex;
        max-height: 4.5rem;
        overflow: hidden;
        position: relative;
        word-break: break-all;
        flex-direction: column;
        .dots {
          background: $cuddle-10;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 0.775rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4.5rem;
          display: flex;
          justify-content: flex-end;
          padding-right: $space-xxxs;
          cursor: pointer;
        }
        &.showAll {
          max-height: 100%;
        }
        &.hasMore {
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: toRem(10px);
            width: 100%;
            z-index: 1;
          }
        }
      }
      &__seeMoreButtonBox {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        padding-top: $space-xxxxs;
        .Text {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
