@use 'src/styles/abstracts' as *;

.Visualizer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .VisualizerContainer {
    width: 100%;
    display: flex;
    height: calc(100% - 5rem);
  }
}

