@use 'src/styles/abstracts' as *;

.Bookmarks {
  height: 100%;
  &__appBar {
    position: fixed;
    width: 100%;
  }
  &__title {
    margin: 0.5em 0;
    padding: 0;
    color: $primary-color;
  }

  &__list {
    padding: 4rem 1.5em 1.5em;
  }
}
