@use 'src/styles/abstracts' as *;

.Bookmarks {
  height: 100%;
  &__appBar {
    width: 100%;
  }
  &__title {
    margin: 0.5em 0;
    padding: 0;
    color: $primary-color;
  }
  &__container {
    overflow-y: auto;
    height: calc(100vh - 40px);  // Subtract the height of the appBar
  }
  &__list {
    padding: 2rem 1.5em 2em;
  }
}
