@use 'src/styles/abstracts' as *;

.ActionCard {
  width: 100%;
  padding: $space-lg;
  border: $border-grey;
  border-radius: $border-radius-lg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  &__infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__message {
      margin-top: $space-xxxs;
    }
  }
}
