@use 'src/styles/abstracts' as *;
.TextExplorer {
  &__container {
    background-color: #ffffff;
    min-width: 50rem;
    height: 100%;
    .TextExplorer__section {
      height: 100vh;
    }
    .TextExplorer__loader {
      flex-direction: column;
      justify-content: space-between;
    }
    .TextExplorer__fullHeight {
      height: 100%;
    }

    .TextExplorer__section__div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .TextExplorer__table__container {
      flex: 0.5 1 0;
      min-height: 11rem;
      &__hide {
        display: none;
      }
    }
    .TextExplorer__ResizePanel {
      &__hide {
        display: none;
      }
    }
    .TextExplorer__textsWrapper__container {
      min-height: 11.25rem;
      flex: 0.5 1 0;
      overflow: auto;
      &__hide {
        display: none;
      }
      &__fullHeight {
        flex: 1 !important;
      }
    }
  }
  &__SelectForm__Grouping__container {
    display: flex;
    border-bottom: 0.0625rem solid #e8f1fc;
    min-height: 6rem;
    max-height: 6rem;
  }
}
