@use 'src/styles/abstracts' as *;
.TextExplorer {
  &__container {
    background-color: #ffffff;
    min-width: 50rem;
    height: 100%;
    .RangePanel {
      display: flex;
      align-items: center;
      min-height: toRem(44px);
      width: 100%;
      justify-content: center;
      background: $white;
      border-top: $border-main;
      border-bottom-right-radius: toRem(6px);
      .RangePanelContainer {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 85rem;
        padding: 0 2.125rem;
        justify-content: center;
        .ApplyButtonContainer {
          height: 100%;
          display: flex;
          align-items: center;
          .ApplyButton {
            height: 1.5rem !important;
            width: 5.125rem;
          }
        }

        .VerticalDivider {
          width: 0.0625rem;
          height: 1.5rem;
          background: $primary-color-10;
          margin-right: 2.75rem;
          margin-left: 2.75rem;
        }
      }
    }
    .TextExplorer__section {
      height: 100vh;
    }
    .TextExplorer__loader {
      flex-direction: column;
      justify-content: space-between;
    }
    .TextExplorer__fullHeight {
      height: 100%;
    }

    .TextExplorer__section__div {
      display: flex;
      flex-direction: column;
    }
    .TextExplorer__table__container {
      flex: 0.5 1 0;
      min-height: 11rem;
      &__hide {
        display: none;
      }
      &__mark {
        background-color: $warning-color-50;
      }
    }
    .TextExplorer__ResizePanel {
      &__hide {
        display: none;
      }
    }
    .TextExplorer__textsWrapper__container {
      min-height: 11.25rem;
      flex: 0.5 1 0;
      overflow: auto;
      &__hide {
        display: none;
      }
      &__fullHeight {
        flex: 1 !important;
      }
    }
  }
  &__SelectForm__Grouping__container {
    display: flex;
    border-bottom: 0.0625rem solid #e8f1fc;
    min-height: 6rem;
    max-height: 6rem;
  }
}
