@use 'src/styles/abstracts' as *;

.TraceVisualizationWrapper {
  display: flex;
  width: 100%;
  max-height: toRem(510px);
  .MenuArea {
    max-width: toRem(380px);
    min-width: toRem(200px);
  }
  .VisualizerArea {
    max-height: toRem(900px);
    width: 100%;
    border: toRem(1px) solid $grayish;
    border-left: none;
    border-top-right-radius: toRem(6px);
    border-bottom-right-radius: toRem(6px);
    min-height: toRem(500px);
  }
}
