@use 'src/styles/abstracts' as *;

.TraceVisualizationWrapper {
  display: flex;
  width: 100%;
  max-height: toRem(510px);
  .VisualizationLoader {
    height: 100% !important;
  }
  .MenuArea {
    max-width: toRem(380px);
    min-width: toRem(320px);
  }
  .VisualizerArea {
    max-height: toRem(900px);
    width: 100%;
    border: toRem(1px) solid $grayish;
    border-left: none;
    border-top-right-radius: toRem(6px);
    border-bottom-right-radius: toRem(6px);
    height: toRem(500px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .RangePanel {
      display: flex;
      align-items: center;
      min-height: toRem(44px);
      width: 100%;
      margin-top: toRem(10px);
      justify-content: center;
      background: $white;
      border-top: $border-main;
      border-bottom-right-radius: toRem(6px);
      .RangePanelContainer {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 85rem;
        padding: 0 2.125rem;
        justify-content: center;
        .ApplyButtonContainer {
          height: 100%;
          display: flex;
          align-items: center;
          .ApplyButton {
            height: 1.5rem !important;
            width: 5.125rem;
          }
        }

        .VerticalDivider {
          width: 0.0625rem;
          height: 1.5rem;
          background: $primary-color-10;
          margin-right: 2.75rem;
          margin-left: 2.75rem;
        }
      }
    }
  }
}
