.ImagesPanel {
  width: calc(100vw - 4.6875rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  &__imagesContainer {
    overflow-x: auto;
    height: 100%;
    padding-left: 1.25rem;
    padding-top: 0.25rem;
  }
}
