@use 'src/styles/abstracts' as *;

.TableCard {
  display: flex;
  flex-direction: column;
  padding: toRem(16px) toRem(24px);
  border: toRem(1px) solid $cuddle;
  border-radius: toRem(8px);
  width: 100%;
}
