@use 'src/styles/abstracts' as *;

.Params__section {
  height: 100vh;
  overflow: hidden;
  .Params__loader {
    flex-direction: column;
    justify-content: space-between;
  }
}

.Params__container {
  min-width: 50rem;
  .Params__fullHeight {
    height: 100%;
  }
  .Params__section__div {
    display: flex;
    flex-direction: column;
  }

  .Params__ResizePanel {
    &__hide {
      display: none;
    }
  }

  .Params__chart__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0;
    flex: 0.5 1 0;
    min-height: 11.25rem;
    &__emptyBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    &__hide {
      display: none;
    }
  }

  .Params__table__container {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1 0;
    flex: 0.5 1 0;
    min-height: 11rem;
    &__hide {
      display: none;
    }
  }
}

.Params__SelectForm__Grouping__container {
  display: flex;
  border-bottom: $border-separator;
  min-height: 6rem;
  max-height: 6rem;
}
