@use 'src/styles/abstracts' as *;

.Params__section {
  height: 100vh;
  overflow: hidden;
  .Params__loader {
    flex-direction: column;
    justify-content: space-between;
  }
  .Params__visualization {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 100%;
    max-height: calc(100% - #{toRem(136px)});
    .ProgressBar {
      padding-bottom: toRem(136px);
    }
  }
}

.Params__container {
  background-color: #ffffff;
  min-width: 50rem;
  .Params__fullHeight {
    height: 100%;
  }
  .Params__section__appBarContainer {
    display: flex;
    flex-direction: column;
  }
  .Params__chart__container {
    flex: 0.5 1 0;
    min-height: 11.25rem;
    &.fullHeight {
      flex: 1 100% !important;
    }
    &.hide {
      display: none;
    }
  }
  .Params__ResizePanel {
    &__hide {
      display: none;
    }
  }
  .Params__table__container {
    flex: 0.5 1 0;
    min-height: 11rem;
    &.fullHeight {
      flex: 1 100% !important;
    }
    &.hide {
      display: none;
    }
  }
}

.Params__SelectForm__Grouping__container {
  display: flex;
  border-bottom: $border-main;
  min-height: 6rem;
  max-height: 6rem;
}
