@use 'src/styles/abstracts' as *;

.ExploreAimCard {
  width: 15.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: $border-grey;
  transition: background-color 0.3s ease-out;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  position: relative;
  color: $pico;
  &:hover {
    background-color: $primary-color;
    color: #fff;
    .ExploreAimCard__desc,
    .ExploreAimCard__title {
      color: #fff;
    }
    .ExploreAimCard__icon {
      color: $primary-color;
      background-color: #fff;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-circle;
    width: 2.75rem;
    height: 2.75rem;
    background: $primary-color;
    color: #fff;
    margin-bottom: 0.875rem;
    transition: all 0.3s ease-out;
    i {
      font-size: 1.375rem;
    }
  }
  &__title {
    margin: 0;
  }
  &__desc {
    margin-top: 0.5rem;
    display: inline-block;
  }
  &__arrow__icon {
    position: absolute;
    right: 1rem;
    bottom: 0.25rem;
    display: flex;
    justify-content: flex-end;

    i {
      color: #fff;
      font-size: 1.75rem;
    }
  }
}
