@use 'src/styles/abstracts' as *;

.SetupGuide__container {
  max-width: 800px;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  flex: 1 100%;

  h3 {
    font-size: 1.125rem;
    margin: 0 0 0.5rem;
  }

  h2 {
    margin: 0;
  }
}

.SetupGuide__code {
  margin-top: 2rem;
  max-width: 44.5rem;
}

.StyleGuide__resources__container {
  margin-top: 2.75rem;
  display: flex;
}

.SetupGuide__resource__item {
  margin-right: 2.375em;
  text-decoration: none;

  span {
    display: inline-block;
    margin-top: 0.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: $text-mm;
    line-height: 17px;
    color: #031123;
  }

  &:last-child {
    margin-right: 0;
  }
}

.StyleGuide__resource__item__icon {
  margin: 0 auto;
  width: 2.75rem;
  height: 2.75rem;
  border: 0.125rem solid $primary-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-out;
  cursor: pointer;

  i {
    font-size: 1.5rem;
    color: $primary-color;
    transition: all .3s ease-out;
  }

  &:hover {
    color: #ffffff;
    background-color: #1473e6;

    i {
      color: #FFFFFF;
    }
  }
}
