@use 'src/styles/abstracts' as *;

.MuiTooltip-tooltip {
  max-height: $tooltip-max-height;
  overflow: hidden;
}

.MuiTooltip-tooltipPlacementTop,
.MuiTooltip-tooltipPlacementBottom {
  margin: 6px 0;
}

.MuiTooltip-tooltipPlacementLeft,
.MuiTooltip-tooltipPlacementRight {
  margin: 0 6px;
}
