@use 'src/styles/abstracts' as *;

.GroupingItem__container {
  display: flex;
  flex-direction: column;
  margin-right: 0.375em;
  cursor: pointer;

  span {
    margin-top: 0.5em;
    font-size: 0.75em;
    line-height: 0.9375em;
    text-align: center;
    text-transform: capitalize;
    color: #374A61;
  }
}

.GroupingItem__icon__box {
  width: 3.25em;
  height: 3.25em;
  border: $border-main;
  border-radius: 0.375em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .18s ease-out;

  &:last-child {
    margin-right: 0;
  }

  i {
    color: #1473E6;
    font-size: 24px;
  }

  &:hover {
    background-color: tint($primary-color, 90);
  }

  &.active, &.outlined {
    border: 0.0625rem solid tint($primary-color, 30);
    background-color: tint($primary-color, 90);
  }

  &.disabled {

  }
}

.GroupingItem__button_small {
  border: 1px solid;
  padding: 0px 4px;
  border-radius: 4px;
  cursor: pointer;
}

//.GroupingItem__button__icon {
//  width: 12px;
//  height: 12px;
//  margin: 0;
//}
