.groupingItem__container_div {
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
}

.groupingItem__button_small {
    border: 1px solid;
    padding: 0px 4px;
    border-radius: 4px;
    cursor: pointer;
}