.GroupingItem__container {
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 0.5em;
}
.GroupingItem__button_small {
  border: 1px solid;
  padding: 0px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.GroupingItem__button__icon {
  width: 12px;
  height: 12px;
  margin: 0;
}
