@use 'src/styles/abstracts' as *;

.FeedItem {
  margin-bottom: $space-xs;
  &__title {
    align-items: center;
    display: flex;
    margin-bottom: $space-xxxs;
    .Icon__container {
      border-radius: $border-radius-circle;
      background-color: $primary-color-10;
      margin-right: $space-xxxs;
      color: $text-color;
    }
  }
  &__content {
    position: relative;
    padding-left: 38px;
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 12px;
      width: 1px;
      height: calc(100% + 8px);
      background-color: $primary-color-20;
    }
    &__item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: $space-xs;
      .RunNameColumn {
        margin: 0 $space-xs;
        font-size: $text-sm;
      }
    }
  }
}
