@use '../../../../styles/abstracts/index' as *;

.MetricsBar__item__bookmark {
  margin-right: 0.75em;
  cursor: pointer;
}

.MetricsBar__item__bookmark__span {
  font-weight: 500;
  font-size: $text-mm;
  line-height: 1.0625em;
  margin-right: 0.625em;
}

.MetricsBar__menu {
  border-left: 0.0625rem solid #e8f1fc;
  padding: 0 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  span {
    cursor: pointer;
  }
}

.MetricsBar__popover {
  width: 15.625rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: inherit;
  }
}
