@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uko95x');
  src:  url('fonts/icomoon.eot?uko95x#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?uko95x') format('truetype'),
  url('fonts/icomoon.woff?uko95x') format('woff'),
  url('fonts/icomoon.svg?uko95x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e904";
}
.icon-arrowRightLong:before {
  content: "\e905";
}
.icon-arrowRight:before {
  content: "\e906";
}
.icon-bookmarks:before {
  content: "\e901";
}
.icon-runs:before {
  content: "\e902";
}
.icon-tags:before {
  content: "\e903";
}
.icon-metrics:before {
  content: "\e900";
}
