@use 'src/styles/abstracts' as *;

.AskForm {
  margin-top: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: $border-main;
  border-radius: $border-radius-main;
  &__avatar {
    display: inline-flex;
    img {
      margin: 0 auto;
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
    }
  }
  &__title {
    margin: 0.5rem 0 !important;
  }

  &__p {
    max-width: 36rem;
    margin-bottom: 1rem;
  }
  &__submit {
    margin-top: 0.875rem;
  }
  .TextField__OutLined__Large {
    width: 21.125rem;
  }
}
