@use 'src/styles/abstracts' as *;

.TooltipContentPopover {
  width: 25rem;
  padding: $space-xs;
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  &__subtitle {
    text-transform: uppercase;
    margin: $space-xs 0;
  }
  &__Divider {
    margin: $space-unit 0 $space-xs;
  }
  &__section {
    margin: 0 $space-xs;
    &:last-child {
      padding-bottom: $space-unit;
    }
  }
  &__SelectedTagsContainer {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: $space-xxxs;
    width: 100%;
  }
}
