.TooltipContentPopover__container {

  .TooltipContentPopover__params {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 25rem;
    height: 100%;
    max-height: 20rem;

    .TooltipContentPopover__toggle {
      margin-top: 1rem;
    }
  }
}
