@use "src/styles/abstracts" as *;

.ChartLoader {
  height: 100%;
  width: 100%;
  display: flex;
}

.ChartLoader__chart {
  flex: 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: $border-separator;
  span {
    margin-left: 3.625rem;
  }
}

.ChartLoader__controls {
  width: 3.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  .MuiSkeleton-root {
    &:first-child {
      margin-top: 0.5rem;
    }
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
}
