@use 'src/styles/abstracts' as *;

.StrokePopoverAdvanced__container {
  padding: 1rem;
}

.StrokePopoverAdvanced__container__span {
  display: inline-block;
  font-size: $text-md;
  font-family: 'Inter Regular', sans-serif;
  margin: 1rem 0;
}
