@use './functions' as *;

$primary-color: #1473e6;
$error-color: #e64e48;
$success-color: #2bc784;
$warning-color: #e8bb1b;
//colors
$blue: #4b9bff;
$orange: #ffb46e;
$red: #ff5f5f;
$teal: #50d2a0;
$pink: #ff73c3;
$green: #9be169;
$purple: #af78ff;
$yellow: #ffd76e;
$cyan: #5fc8ff;
$indigo: #7785ff;
$white: #ffffff;
$pico: #1c2852;
$grayish: #dee6f3;
$cuddle: #bdcee8;
//border
$border-color-main: tint($primary-color, 90);
$border-main: 0.0625rem solid $border-color-main;
$radius-main: 0.375rem;
$border-color-secondary: tint($cuddle, 80);
$border-secondary: 0.0625rem solid $border-color-secondary;
$border-radius-main: 0.375rem;

$border-radius-sm: 0.25rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.5rem;
//text
$text-color: $pico;
$text-color-50: tint($pico, 50%);
$text-color-80: tint($pico, 20%);
$text-sm: 0.75rem;
$text-md: 0.875rem;
$text-lg: 1rem;
$xs: 23.5em; // 376px @media (max-width: $xs) {}
$sm: 36em; // (min-width: 576px)
$md: 48em; // (min-width: 768px)
$lg: 62em; // (min-width: 992px)
$gl: 64em; //! gap `lg - xl` (min-width: 1024px)
$xl: 75em; // (min-width: 1200px)
$xxl: 80em; // (min-width: 1280px)
//- to container
$col-sm: 540px; // (max-width: 540px)
$col-md: 720px; // (max-width: 720px)
$col-lg: 960px; // (max-width: 960px)
$col-xl: 1140px; // (max-width: 1140px)
$col-xxl: 1420px; // (max-width: 1420px)
$breakpoints: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl,
);
