@use './functions' as *;
$primary-color: #1473E6;
$error-color: #E64E48;
$success-color: #2BC784;
$warning-color: #E8BB1B;
//colors
$blue: #4B9BFF;
$orange: #FFB46E;
$red: #FF5F5F;
$teal: #50D2A0;
$pink: #FF73C3;
$green: #9BE169;
$purple: #AF78FF;
$yellow: #FFD76E;
$cyan: #5FC8FF;
$indigo: #7785FF;
$white: #FFFFFF;
$pico: #1C2852;
$grayish: #dee6f3;
//border
$border-color-main: tint($primary-color, 90);
$border-main: 0.0625em solid $border-color-main;
$radius-main: 0.375em;
//text
$text-color: $pico;
$text-sm: 0.75em;
$text-mm: 0.875em;
$text-lm: 1em;
$xs: 23.5em; // 376px @media (max-width: $xs) {}
$sm: 36em; // (min-width: 576px)
$md: 48em; // (min-width: 768px)
$lg: 62em; // (min-width: 992px)
$gl: 64em; //! gap `lg - xl` (min-width: 1024px)
$xl: 75em; // (min-width: 1200px)
$xxl: 80em; // (min-width: 1280px)
//- to container
$col-sm: 540px; // (max-width: 540px)
$col-md: 720px; // (max-width: 720px)
$col-lg: 960px; // (max-width: 960px)
$col-xl: 1140px; // (max-width: 1140px)
$col-xxl: 1420px; // (max-width: 1420px)
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);