@use './src/styles/abstracts' as *;

.SandboxVisualizer {
  width: 100%;
  height: 100%;
}

.SandboxVisualizer__panel {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 $space-lg;
  border-bottom: $border-dark;
}

.SandboxVisualizer__main {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  display: flex;
}

.SandboxVisualizer__main__editor {
  height: 100%;
  position: relative;
  flex: 0.35;
  border-right: $border-dark;
}

.SandboxVisualizer__main__components {
  height: 100%;
  position: relative;
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.SandboxVisualizer__main__components--loading {
  align-items: center;
  justify-content: center;
}

.SandboxVisualizer__main__components--processing {
  filter: blur(5px);
}

.SandboxVisualizer__main__components__viz {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.SandboxVisualizer__main__components__console {
  flex: 0.1;
  border-top: $border-dark;
  padding: $space-xs;
  overflow: auto;
  @include monospaceFontFamily();
}
