@use 'src/styles/abstracts' as *;

.ColumnItem {
  border: $border-main;
  margin-bottom: $space-xxxs;
  border-radius: $space-xxxs;
  padding: $space-xxxs $space-xs;
  background-color: $cuddle-10;
  display: flex;

  &.highlighted {
    background-color: $cuddle-30;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__toggle {
    margin-right: 0.785rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }

  &__name {
    display: inline-block;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  &__iconDrag {
    display: flex;
    i {
      font-size: 0.625rem;
    }
  }
}
