@use 'src/styles/abstracts' as *;

.ColumnItem__container {
  border: $border-main;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  background-color: tint($cuddle, 90);
  display: flex;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
}

.ColumnItem__toggle {
  margin-right: 0.785rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.ColumnItem__name {
  display: inline-block;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $text-sm;
  flex: 1;
}

.ColumnItem__drag__icon {
  display: flex;
  i {
    font-size: 0.625rem;
  }
}
