@import './styles/global.scss';
@import './src/styles/base/_reset.scss';
@import 'fonts/icomoon/icomoonIcons.scss';
@import './styles/base/_fonts.scss';
@import './styles/components/_inputs.scss';
@import './styles/components/_autocomplete.scss';

.mainContainer {
  width: calc(100% - 80px);
  height: 100%;
}

.pageContainer {
  height: 100%;
}
