@font-face {
  font-family: 'Inter Light';
  src: url('../../fonts/inter/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Regular';
  src: url('../../fonts/inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Medium';
  src: url('../../fonts/inter/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter SemiBold';
  src: url('../../fonts/inter/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Bold';
  src: url('../../fonts/inter/Inter-Bold.ttf') format('truetype');
}
