@use 'src/styles/abstracts' as *;

.Box {
  position: absolute;
  box-shadow: 0 0 0 0.0625rem $primary-color;
  overflow: auto;
  &__fullScreen {
    position: sticky;
    top: 0.25rem;
    left: calc(100% - 24px - 0.25rem);
    margin-left: calc(100% - 24px - 0.25rem);
    z-index: 1;
    text-align: right;
    background-color: $white;
  }
}
