@use 'src/styles/abstracts' as *;

.BaseBox {
  position: absolute;
  border: 0.0625rem solid $primary-color;
  overflow: auto;
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
  }
}
