@use 'src/styles/abstracts' as *;

.ExportPreview {
  .ChartGrid, .ChartLegends {
    height: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    outline: none;
  }
  .ChartLegends {
    &__container {
     overflow: visible;
    }
  }
  &__modal {
    & > .Modal {
      overflow: hidden;
      & > .Modal__content {
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
      }
    }
    & .Modal__header {
      justify-content: center;
    }
  }
  &__container {
    width: 80vw;
    height: 62vh;
    overflow: auto;
    margin: toRem(1px);
    border-radius: $border-radius-sm;
    box-shadow: 0 0 0 toRem(1px) $cuddle;
    display: flex;
    &__grid {
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
    &__appendElement {
      height: 100%;
      width: 100%;
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    margin-top: $space-xs;
    flex-direction: column;
    @include mq(xl) {
      flex-direction: row;
    }
    &__dimension {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      width: 100%;
      margin-top: $space-unit;
      &__width {
        margin-right: $space-sm;
        display: flex;
        align-items: center;
        flex: 1;
        &__slider {
          width: 100%;
          margin: 0 $space-sm 0 $space-xs;
        }
        &__input {
          & > .MuiInputBase-root {
            font-size: 0.75rem;
          }
        }
        .InputWrapper {
          width: toRem(85px);
          min-width: toRem(85px);
        }
      }
      &__height {
        display: flex;
        align-items: center;
        flex: 1;
        &__slider {
          width: 100%;
          margin: 0 $space-sm 0 $space-xs;
        }
        &__input {
          & > .MuiInputBase-root {
            font-size: 0.75rem;
          }
        }
        .InputWrapper {
          width: toRem(85px);
          min-width: toRem(85px);
        }
      }
    }
    &__additional {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-top: $space-unit;
      @include mq(xl) {
        margin-left: $space-sm;
      }
      &__formatDropdown {
        width: toRem(97px);
        display: inline-block;
      }
      &__nameInput{
        display: inline-block;
        margin-right: $space-xs;
        & .MuiTextField-root {
          width: toRem(224px);
        }
      }
    }
  }
}
