@use 'src/styles/abstracts' as *;

.ExportPreview {
  //@TODO improve Grid pattern
  .ChartGrid {
    height: 100%;
    padding: 4px;
    box-shadow: -1px -1px 0 0 #e8e8e8; // var(--grey-lighter);
  }
  &__modal {
    & .Modal__header {
      justify-content: center;
    }
  }
  &__dimension {
    display: flex;
    justify-content: center;
    align-items: center;
    &__width {
      margin: 0 10px;
      display: inline-flex;
      align-items: center;
      &__slider {
        width: 150px;
        height: 20px;
        margin: 0 10px;
      }
      &__input {
        & > .MuiInputBase-root {
          font-size: 0.75rem;
        }
      }
    }
    &__height {
      margin: 0 10px;
      display: inline-flex;
      align-items: center;
      &__slider {
        width: 150px;
        height: 20px;
        margin: 0 10px;
      }
      &__input {
        & > .MuiInputBase-root {
          font-size: 0.75rem;
        }
      }
    }
  }
  &__container {
    width: 1024px;
    height: 640px;
    overflow: auto;
    &__grid {
      height: 100%;
      margin: 0;
    }
  }
}
