.Activity {
  &__Statistics__card {
    background: linear-gradient(97.73deg, #8c32af 0%, #6bace5 100%);
    opacity: 0.8;
    border-radius: 6px;
    width: 13.125em;
    height: 80px;
    color: #ffffff;
    padding: 0.5em 1em;
    position: relative;
    span {
      display: block;
    }

    &:after {
      content: url('../../../../../src/assets/experiments.svg');
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.4;
    }

    &:last-child {
      margin-top: 6px;
      background: linear-gradient(98.46deg, #1473e6 0%, #09c6f9 100%);
      &:after {
        content: url('../../../../../src/assets/runs.svg');
      }
    }
  }

  &__loader {
    color: #fff;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
}
