@use 'src/styles/abstracts' as *;

.DashboardRight {
  display: flex;
  flex-direction: column;
  width: 285px;
  background-color: #fafafb;
  overflow: auto;
  &__title {
    margin-top: $space-md;
    padding: 0 $space-lg;
  }
}
